{"openapi":"3.0.0","info":{"version":"2.16"},"servers":[{"url":"https:\/\/design.penpot.app\/api\/main\/methods","description":"MAIN API"}],"paths":{"get-file-data-for-thumbnail":{"post":{"description":"Retrieves the data for generate the thumbnail of the file. Used\nmainly for render thumbnails on dashboard.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-file-data-for-thumbnail","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["fileId"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c3f3b82\"}"}}},"responses":{"default":{"description":"A default response","content":{"application\/json":{"schema":{"title":"PartialFile","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"revn":{"$ref":"#\/components\/schemas\/Int"},"page":{"type":"object","additionalProperties":{"$ref":"#\/components\/schemas\/Any"}},"stripFramesWithThumbnails":{"$ref":"#\/components\/schemas\/Boolean"}},"required":["id","revn","page"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c3fef14\",\"revn\":-469,\"page\":{\"mE.+P\":\"pdzb\",\"j*4\":\"chyaj\",\"_\":\"bjmvy\",\"MmfXRH*\":false,\"+\":\"woqvx\"}}"}}}}}},"delete-file-object-thumbnail":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"delete-file-object-thumbnail","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"objectId":{"type":"string","maxLength":250}},"required":["fileId","objectId"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395e1a52c4\",\"objectId\":\"m1MtMHe\"}"}}}}},"remove-team-from-org":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"organizationId":{"$ref":"#\/components\/schemas\/Uuid"},"organizationName":{"$ref":"#\/components\/schemas\/Text"}},"required":["teamId","organizationId","organizationName"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395e0f2b8c\",\"organizationId\":\"5ab5eb30-5b3a-81d5-8008-2a395e0f2b8d\",\"organizationName\":\"bgtvq\"}"}}}}},"move-project":{"post":{"description":"Move projects between teams","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"move-project","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"projectId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["teamId","projectId"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395e1657b6\",\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395e1657b7\"}"}}}}},"delete-team":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"delete-team","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["id"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c77afae\"}"}}}}},"get-page":{"post":{"description":"Retrieves the page data from file and returns it. If no page-id is\nspecified, the first page will be returned. If object-id is\nspecified, only that object and its children will be returned in the\npage objects data structure.\n\nIf you specify the object-id, the page-id parameter becomes\nmandatory.\n\nMainly used for rendering purposes on the exporter. It does not\naccepts client features.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-page","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"pageId":{"$ref":"#\/components\/schemas\/Uuid"},"shareId":{"$ref":"#\/components\/schemas\/Uuid"},"objectId":{"anyOf":[{"$ref":"#\/components\/schemas\/Uuid"},{"title":"set","description":"Set of Strings","type":"array","items":{"$ref":"#\/components\/schemas\/Uuid"},"uniqueItems":true}]},"features":{"$ref":"#\/components\/schemas\/Features"}},"required":["fileId"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c58dca7\",\"pageId\":\"5ab5eb30-5b3a-81d5-8008-2a395c58dca8\",\"features\":[\"fdata\\\/path-data\",\"fdata\\\/pointer-map\",\"tokens\\\/numeric-input\",\"render-wasm\\\/v1\",\"text-editor-wasm\\\/v1\"]}"}}}}},"delete-share-link":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"delete-share-link","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["id"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c467e8e\"}"}}}}},"restore-deleted-team-files":{"post":{"description":"Removes the deletion mark from the specified files (and respective\nprojects) on the specified team.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"restore-deleted-team-files","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"ids":{"title":"set","description":"Set of Strings","type":"array","items":{"$ref":"#\/components\/schemas\/Uuid"},"uniqueItems":true}},"required":["teamId","ids"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c55b919\",\"ids\":[\"5ab5eb30-5b3a-81d5-8008-2a395c55b92c\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b922\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b925\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b923\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b92d\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b924\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b91b\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b921\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b929\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b91f\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b926\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b91c\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b92a\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b920\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b92b\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b928\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b91e\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b92e\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b91a\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b927\",\"5ab5eb30-5b3a-81d5-8008-2a395c55b91d\"]}"}}}}},"login-with-ldap":{"post":{"description":"Performs the authentication using LDAP backend. Only works if LDAP\nis properly configured and enabled with `login-with-ldap` flag.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"login-with-ldap","type":"object","properties":{"email":{"$ref":"#\/components\/schemas\/Email"},"password":{"title":"string","description":"string","type":"string","format":"string"},"invitationToken":{"title":"string","description":"string","type":"string","format":"string"}},"required":["email","password"]},"example":"{\"email\":\"oobea@example.net\",\"password\":\"gjexs\"}"}}}}},"get-project":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-project","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["id"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395e0ed4ef\"}"}}}}},"update-profile-notifications":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"update-profile-notifications","type":"object","properties":{"dashboardComments":{"title":"enum","type":"string","enum":["all","partial","none"]},"emailComments":{"title":"enum","type":"string","enum":["all","partial","none"]},"emailInvites":{"title":"enum","type":"string","enum":["all","none"]}},"required":["dashboardComments","emailComments","emailInvites"]},"example":"{\"dashboardComments\":\"none\",\"emailComments\":\"none\",\"emailInvites\":\"all\"}"}}}}},"duplicate-file":{"post":{"description":"Duplicate a single file in the same team.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"duplicate-file","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"name":{"type":"string","maxLength":250}},"required":["fileId"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4329f2\",\"name\":\"96nWI2e14HK8j5G4E8Dvv026u4BuP35Nc18vt280HkZn28G5IQ4Pjar920ml1V9QSLwj4QP2g75P8kIWbcSpB1r6TAb0bDkSw383FyKYPZu6NGDn7aAvea2iPnrajSu8075y9LV91qeEE1GTjoxy70lYYTbOFeBA4\"}"}}}}},"get-file-object-thumbnails":{"post":{"description":"Retrieve a file object thumbnails.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-file-object-thumbnails","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"tag":{"type":"string","maxLength":50}},"required":["fileId"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c5c3051\",\"tag\":\"60MtT4xm5PcctG9aaM5b0f9O4CqoWf435BvZ85\"}"}}},"responses":{"default":{"description":"A default response","content":{"application\/json":{"schema":{"type":"object","additionalProperties":{"type":"string","maxLength":250}},"example":"{\"5bxa08KhF015AL8xGJa44W9H2Nm67sbkb59k7HU00wWY2t6IfTar66gEi9hOR1F4O9O128f40HsLJFCg59FhaX52xZJKkCi76xHn0Dq9BU8M\":\"29y4k7q6h38kkHCa9eOy9jay5Yz7WsgRNW1HiiY07s3jV2zc798M7F9rZgx0IopZtk5e1acCqC1R56nZsUhX7HD8QiSIL90f7QP36TTS6942wJ8uIndAG93U40Mob3CMygDv6T9Z2NAWT6GvqmKYYNQ150Fnwt7iSUTi267j35wK6pq1Uh3x7Ozx45rj\",\"XqM6D8PlXLgxkw60Fn8D5PamWUw2f4k3tq8NNTMdTeY8n0IKR705ApR8KL21vAB7psF7mBCDAXbjHM2LUHEc6vUMH3SUdRsDL50c4e2U45Csm92Nz7Ers7uh0LO0s1el65eSgM\":\"RB7uQ75z1Yt7B45W2HPfm8z2qiO3RT06VN3A6d8E31XSwSJvksA5I7F246PEFge4BhV3q39R4XD6jrj25Iy1vdd76zsUB0K5BCU1cW41fmobs6IN1iKp0DLLZP1IYod\",\"8G1q20ISI09mV266wNQkM5k8v4seOkx7p6SkIHtFhn\":\"exr63L2eQ0j4Hbyj2C9nG3uX1CQ0v7WqUQ7vpbyC9e7hWCGo5r71HB7wuJTnb7136bpGLEVUTnJ8UMf5FUyUSFjX09PIl8dwT4f3HSH0DXx93iS25XHRs49ooEZ5oly2024WCEh6V1xI62M57M060r39Mom51Z15G0R9bNd5z17H8GXBbi3yQmrp7z2YvD7nO85g3GgH8qD4vB9o5DM\",\"AezRYw0a3K0RIP918ors1q459wwhVe6o4Qc6NN8vDkbkO88qNFsr0WZ0sBr6CHk2n8g9H4737f4F6I1zP82BoapN2U78Kj7oy8X2N9eTX644fDo182XC52IQaLNUN0yyql668AHJHh88eKj84lQ4NOF9G345OZ18vQ1Z96Fnj3K17LLX2Wid40Y2oM9U98VusCthHZchXPi03Lb8YcXw1qa0OL23T5ZGd\":\"sxXEwDFckVfi7VjDUPYFEA2kw5J764vcCu1Gj0Zlz8xTN5X8bA19gk3XMX7M97XX1ZW2B1XoH21OcpmTZ2jO1Dy7Sn61TJaR6g6XItl22t2hOPdQMcnpjstqQb12XBr8r6KUOp9NujoV05O2CXv9yEEPQ3z5X\",\"xd1XML49dpk3pW8Z48t75739M3bMffTQf3yjmjA69k1Ms2bV99rR4UAqu\":\"XNt01TyaW91ZcPy5rOCmein00BjC3P7KesKJFQ0o304bRgrM7z22n1DPPPkQ4f8i42b1fJq2Js18IEqCftnCtRV9wForw8UJZvj2DeY0UWe8j10kSCicqanAUQcyinavZ24O138Cj6zyR49mBQ34D9nWpF81l0D1Nq8f6zR8uhz4a6N7RqEUSW8s84I5Lza7gXQ75sxGp3A3ScyFi4jm\",\"F67wPG976h7dkcS59RPf6g2lwNt04OIu6w8qnRid0v7JBFoW8Of0LH3y9Qda4y474VMxuU8KQRLsWKBwGrTal7CY8Er5V38ts07VwA0z26h6t26f20ATD1k623s2yODgl71IG52hM90t65FBO14U7Wxq22UG69Nf4DyQUw8QdnWH4ZlPiFW6l8Vy6R\":\"6VJ9x7\"}"}}}}}},"get-font-variants":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"allOf":[{"title":"get-font-variants","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"projectId":{"$ref":"#\/components\/schemas\/Uuid"},"shareId":{"$ref":"#\/components\/schemas\/Uuid"}}}]},"example":"{\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c77afaf\"}"}}}}},"get-team-invitation-token":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-team-invitation-token","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"email":{"$ref":"#\/components\/schemas\/Email"}},"required":["teamId","email"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c5bd40b\",\"email\":\"aaumw@example.net\"}"}}}}},"upload-file-media-object":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"upload-file-media-object","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"isLocal":{"$ref":"#\/components\/schemas\/Boolean"},"name":{"type":"string","maxLength":250},"content":{"title":"Upload","type":"object","properties":{"filename":{"type":"string"},"size":{"$ref":"#\/components\/schemas\/Int"},"path":{"$ref":"#\/components\/schemas\/FilesystemPath"},"mtype":{"type":"string"},"headers":{"type":"object","additionalProperties":{"type":"string"}}},"required":["filename","size","path"]}},"required":["fileId","isLocal","name","content"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c60da80\",\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c60da81\",\"isLocal\":true,\"name\":\"\",\"content\":{\"filename\":\"94P29r10XSRdD6jOt6s36W3WZm4n\",\"size\":17610424,\"path\":\"6LM56dV8kmi1r36631CPLF6\",\"mtype\":\"w8xmknGU33xL0TH1xyhPJ4B\",\"headers\":{\"4585972l3a3g381s87GE6mJBV0vLPw\":\"h9rnK\",\"AM3E2Px\":\"3ii7Y\",\"tvV2pFal5TPc\":\"7cpRlUmI3oMq334V7Mmfofpz3ML1\",\"PI4ozWq76rUKxQKKCL4N9s2\":\"859F16a967\",\"NZeO\":\"TRH\"}}}"}}}}},"add-team-to-organization":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"organizationId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["teamId","organizationId"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c49b168\",\"organizationId\":\"5ab5eb30-5b3a-81d5-8008-2a395c49b169\"}"}}}}},"create-file-snapshot":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"label":{"type":"string"}},"required":["fileId"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c775dba\",\"label\":\"d\"}"}}}}},"get-file-snapshots":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-file-snapshots","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["fileId"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c564cea\"}"}}}}},"delete-file":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"delete-file","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["id"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395e1b7e59\"}"}}}}},"update-font":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"update-font","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"id":{"$ref":"#\/components\/schemas\/Uuid"},"name":{"allOf":[{"title":"string","description":"not whitespace string","type":"string"}]}},"required":["teamId","id","name"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c57ffe7\",\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c583151\",\"name\":\"tcpw\"}"}}}}},"create-project":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"create-project","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"name":{"type":"string","minLength":1,"maxLength":250},"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["teamId","name"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395e0ceac0\",\"name\":\"4006UfbFcO71TkkjgF3ZKO86B3GXij81cl76UinX3qMAoeMs1E9KYxM8JfoqxY8ZrkIRSqwCOYSmsv6RuRie64DK\",\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395e0d2034\"}"}}}}},"create-comment":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"create-comment","type":"object","properties":{"threadId":{"$ref":"#\/components\/schemas\/Uuid"},"content":{"type":"string","maxLength":750},"shareId":{"$ref":"#\/components\/schemas\/Uuid","nullable":true},"mentions":{"title":"set","description":"Set of Strings","type":"array","items":{"$ref":"#\/components\/schemas\/Uuid"},"uniqueItems":true}},"required":["threadId","content"]},"example":"{\"threadId\":\"5ab5eb30-5b3a-81d5-8008-2a395e0f62f3\",\"content\":\"5Uz3HEWT17srFSAf74m2oma10G8db14ugftes5N1mS6DvsoPH6Y6hqxoNm3d1DlP5RWn4CUu6JjoSWcs90eEDdeLKu87wiv6W6pt132ZG1YDW4588OK2gs73f26isTLd3c2TQ9M1rbmc9Yi7l6z004zcls1S12Y7VfM53U3OQsDdUPjKd9pc1YT50aZQ16uYj21CVez1LFl0C136j03zNnosF09cHfBF5\",\"shareId\":null,\"mentions\":[\"5ab5eb30-5b3a-81d5-8008-2a395e0f6303\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62fb\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62f9\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f6300\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62fe\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f6304\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62ff\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f6305\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62f4\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62fa\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62f7\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62fc\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62f5\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62fd\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f6306\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62f8\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f6302\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f62f6\",\"5ab5eb30-5b3a-81d5-8008-2a395e0f6301\"]}"}}}}},"move-files":{"post":{"description":"Move a set of files from one project to other.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"move-files","type":"object","properties":{"ids":{"title":"set","description":"Set of Strings","type":"array","items":{"$ref":"#\/components\/schemas\/Uuid"},"uniqueItems":true,"minItems":1},"projectId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["ids","projectId"]},"example":"{\"ids\":[\"5ab5eb30-5b3a-81d5-8008-2a395e1c788c\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7888\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c788e\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c788b\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7891\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7893\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7886\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7887\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7889\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c787d\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c788a\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c787f\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7885\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7881\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7884\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7879\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7882\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7892\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c787c\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7894\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7890\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c787e\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c787b\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c788f\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7883\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c788d\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c7880\",\"5ab5eb30-5b3a-81d5-8008-2a395e1c787a\"],\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395e1c7895\"}"}}}}},"delete-file-snapshot":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"remove-file-snapshot","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["id"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395e0da0ce\"}"}}}}},"delete-font-variant":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"delete-font-variant","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["teamId","id"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c57ffe5\",\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c57ffe6\"}"}}}}},"request-email-change":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"request-email-change","type":"object","properties":{"email":{"$ref":"#\/components\/schemas\/Email"}},"required":["email"]},"example":"{\"email\":\"sunktzma@example.net\"}"}}}}},"duplicate-project":{"post":{"description":"Duplicate an entire project with all the files","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"duplicate-project","type":"object","properties":{"projectId":{"$ref":"#\/components\/schemas\/Uuid"},"name":{"type":"string","maxLength":250}},"required":["projectId"]},"example":"{\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4445de\"}"}}}}},"update-profile-props":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"update-profile-props","type":"object","properties":{"props":{"title":"ProfileProps","type":"object","properties":{"plugins":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"data":{"type":"object","additionalProperties":{"type":"object","properties":{"pluginId":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"host":{"type":"string"},"code":{"type":"string"},"icon":{"type":"string"},"permissions":{"type":"array","items":{"type":"string"},"uniqueItems":true}},"required":["pluginId","name","host","code","permissions"]}}},"required":["ids","data"]},"renderer":{"title":"enum","type":"string","enum":["svg","wasm"]},"mcpEnabled":{"$ref":"#\/components\/schemas\/Boolean"},"newsletterUpdates":{"$ref":"#\/components\/schemas\/Boolean"},"newsletterNews":{"$ref":"#\/components\/schemas\/Boolean"},"onboardingTeamId":{"$ref":"#\/components\/schemas\/Uuid"},"onboardingViewed":{"$ref":"#\/components\/schemas\/Boolean"},"v2InfoShown":{"$ref":"#\/components\/schemas\/Boolean"},"welcomeFileId":{"$ref":"#\/components\/schemas\/Boolean","nullable":true},"releaseNotesViewed":{"title":"string","description":"not whitespace string","type":"string"},"notifications":{"title":"props-notifications","type":"object","properties":{"dashboardComments":{"title":"enum","type":"string","enum":["all","partial","none"]},"emailComments":{"title":"enum","type":"string","enum":["all","partial","none"]},"emailInvites":{"title":"enum","type":"string","enum":["all","none"]}},"required":["dashboardComments","emailComments","emailInvites"]},"workspaceVisited":{"$ref":"#\/components\/schemas\/Boolean"}}}},"required":["props"]},"example":"{\"props\":{\"renderer\":\"wasm\",\"newsletterUpdates\":true,\"onboardingTeamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c5fc67d\",\"onboardingViewed\":false}}"}}}}},"create-font-variant":{"post":{"description":"Upload a font variant.  Font data may be provided either as a\nTransit-encoded `:data` map (keyed by mime-type) for small fonts, or\nas an `:uploads` map (keyed by mime-type, values are upload-session\nUUIDs from the chunked-upload API) for large fonts.  Exactly one of\nthe two must be present.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"allOf":[{"title":"create-font-variant","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"fontId":{"$ref":"#\/components\/schemas\/Uuid"},"fontFamily":{"allOf":[{"title":"string","description":"not whitespace string","type":"string"}]},"fontWeight":{"title":"enum","type":"string","enum":["950","300","600","500","100","800","200","900","700","400"]},"fontStyle":{"title":"enum","type":"string","enum":["normal","italic"]},"data":{"type":"object","additionalProperties":{"anyOf":[{"$ref":"#\/components\/schemas\/Bytes"},{"title":"set","description":"Set of Strings","type":"array","items":{"$ref":"#\/components\/schemas\/Bytes"}}]}},"uploads":{"type":"object","additionalProperties":{"$ref":"#\/components\/schemas\/Uuid"}}},"required":["teamId","fontId","fontFamily","fontWeight","fontStyle"]}]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395e18f71d\",\"fontId\":\"5ab5eb30-5b3a-81d5-8008-2a395e18f71e\",\"fontFamily\":\"jeni\",\"fontWeight\":500,\"fontStyle\":\"normal\",\"data\":{\"qzwa\":null,\"gdlbj\":[-48,-128,126,12,123,-111,78,77,1,-46,119,-64,-92,112,69,-34,22,9,90,95,-63,81,-95,-3,-79],\"fybybvq\":[75,93,64,45,71,115,94],\"usisbf\":[69,-102,73,5,-101,15,8,15,74,-47,47,-16,-84,56,104,80,60,16,-95,-97,-38,-50,102,22],\"fyei\":[-75,-39,67,107,-79,-39,32,5,106],\"oehjwdx\":[-13,26,-38,75,72,109,-7,-108],\"vxojo\":[-4,-33,-72,-122,105,88,-82,-63,90,-22,-51,79,-110],\"avcfnh\":[-80,71,41,-99,84,-120,-111,-29,30,67,111,123,2,27,-125,67,124,104],\"odlc\":[-76,-104,-16,33,86,-77,-7,-86,-55,-123,-77,115,-27,105,114],\"nfoo\":[54,-117,-6,-121,54,-92,28,35,-11,-84,24,69,26,64,-109,-88,-107,-92,-36,-111,22,4,108,121,-125,71,56,-92],\"fmcwh\":[71,-40,-28,-40,20,37,109],\"znbl\":[-127,106,-101,-75,-89,102,-101,-5,-92,74,-14,76,39,-54,-106,-123,28,66],\"cpexe\":[-26,111,-12,-111,99],\"apyqo\":[-101,-108,-6,-48,52],\"ckjhsv\":[-94,-47,-90,44,-55,11,123,-102,123,-43,44,61,99,68,53,-31,95,-96,51,-32,69,61,-6,-19,95],\"vorx\":[-16,-35,29,-106,-101,80,-52,-39,32,-15,58,3,29,116,-109,-32,-6,55,59,-58,6,-109,-114,-4,123,81],\"lvgu\":[56,109,2,-53,-23,-97,125,63,-45,22]},\"uploads\":{\"buqls\":\"5ab5eb30-5b3a-81d5-8008-2a395e19535b\",\"ivitu\":\"5ab5eb30-5b3a-81d5-8008-2a395e19535d\",\"tzknvc\":\"5ab5eb30-5b3a-81d5-8008-2a395e19535c\",\"oekbj\":\"5ab5eb30-5b3a-81d5-8008-2a395e19535a\"}}"}}}}},"delete-project":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"delete-project","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["id"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c775dbc\"}"}}}}},"delete-comment-thread":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"delete-comment-thread","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"shareId":{"$ref":"#\/components\/schemas\/Uuid","nullable":true}},"required":["id"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4909ac\",\"shareId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4909ad\"}"}}}}},"get-file-snapshot":{"post":{"description":"Retrieve a file bundle with data from a specific snapshot for\nread-only preview. Does not modify any database state.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-file-snapshot","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"id":{"$ref":"#\/components\/schemas\/Uuid"},"features":{"$ref":"#\/components\/schemas\/Features"}},"required":["fileId","id"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c63cc25\",\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c63cc26\",\"features\":[\"fdata\\\/path-data\",\"plugins\\\/runtime\",\"variants\\\/v1\",\"styles\\\/v2\",\"text-editor\\\/v2-html-paste\",\"fdata\\\/shape-data-type\"]}"}}},"responses":{"default":{"description":"A default response","content":{"application\/json":{"schema":{"title":"PermissionsMixin","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"features":{"$ref":"#\/components\/schemas\/Features"},"hasMediaTrimmed":{"$ref":"#\/components\/schemas\/Boolean"},"commentThreadSeqn":{"title":"integer","description":"integer","type":"integer","minimum":0},"name":{"type":"string","maxLength":250},"revn":{"title":"integer","description":"integer","type":"integer","minimum":0},"vern":{"title":"integer","description":"integer","type":"integer","minimum":0},"modifiedAt":{"$ref":"#\/components\/schemas\/Inst"},"isShared":{"$ref":"#\/components\/schemas\/Boolean"},"projectId":{"$ref":"#\/components\/schemas\/Uuid"},"createdAt":{"$ref":"#\/components\/schemas\/Inst"},"data":{"$ref":"#\/components\/schemas\/Any"},"permissions":{"title":"Permissions","type":"object","properties":{"type":{"type":"string"},"isOwner":{"$ref":"#\/components\/schemas\/Boolean"},"isAdmin":{"$ref":"#\/components\/schemas\/Boolean"},"canEdit":{"$ref":"#\/components\/schemas\/Boolean"},"canRead":{"$ref":"#\/components\/schemas\/Boolean"},"isLogged":{"$ref":"#\/components\/schemas\/Boolean"}},"required":["type","isOwner","isAdmin","canEdit","canRead","isLogged"]}},"required":["id","features","hasMediaTrimmed","commentThreadSeqn","name","revn","vern","modifiedAt","isShared","projectId","createdAt","permissions"]},"example":"{\"features\":[\"fdata\\\/path-data\",\"layout\\\/grid\",\"text-editor\\\/v2\",\"render-wasm\\\/v1\",\"fdata\\\/shape-data-type\"],\"permissions\":{\"type\":\"membership\",\"isOwner\":false,\"isAdmin\":true,\"canEdit\":false,\"canRead\":false,\"isLogged\":false},\"hasMediaTrimmed\":true,\"commentThreadSeqn\":131,\"name\":\"TDqL9\",\"revn\":1461050,\"modifiedAt\":\"2026-06-12T12:36:02.577477643Z\",\"vern\":65,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c64d7e9\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c64d7ea\",\"createdAt\":\"2026-06-12T12:36:02.575526078Z\"}"}}}}}},"create-file-object-thumbnail":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"create-file-object-thumbnail","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"objectId":{"type":"string","maxLength":250},"media":{"title":"Upload","type":"object","properties":{"filename":{"type":"string"},"size":{"$ref":"#\/components\/schemas\/Int"},"path":{"$ref":"#\/components\/schemas\/FilesystemPath"},"mtype":{"type":"string"},"headers":{"type":"object","additionalProperties":{"type":"string"}}},"required":["filename","size","path"]},"tag":{"type":"string","maxLength":50}},"required":["fileId","objectId","media"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c73671e\",\"objectId\":\"m8C89rf4m96379ESVKms9K2G34nJPrAmAF3DA49GiJ8Upi2doHF1leXNruuXUxyt33lZg9sg3nwGR8NX85YQh4omx4B5l7v78K1lJ31cx75ZyCxo6t5G1eBsn1wG50Q28I338j99exnE5w7NlRPbQ86KtiWd7iBQrze6n7Q0H4AB7aVkk3mlbo9k7v3N1H3AKP0tc3ecsI8V77d5SesRYSnNuYO0196VL1oF3XMRY7KJUH\",\"media\":{\"filename\":\"epGo89\",\"size\":-39961,\"path\":\"748\",\"headers\":{\"3\":\"m35Eu6xqOX53B0628\",\"05PzD\":\"YoG2R6o7W58d3wTb6\",\"8wz5S\":\"G78lr1l58\",\"8T3KE59EOaMyB\":\"J8RGkiVn8n3HtcXXT7yL1iTWix37\",\"1UDwfBZ2\":\"xZ9rTZGUjioqtuhUV4ZN8Scz1x5r\",\"jOyJrQnCDu4mHO2sFnHWh1\":\"k\",\"o8zBd0789ycy9QU0hNPR4X63ae\":\"Itn9e1ECgH2122Qx5NZf\",\"12qnE08qu7aNGbK\":\"\",\"Bs\":\"B6EcrOymxM6de7osAwM7PSFDEtpvsQ\",\"7EwbV0189s4v5Riu5\":\"6J10x3AEs7GuLQd\",\"69Kc4Y1g02Fe1V6k\":\"6C076p5qJaFNIAtni7Xh2KC0\",\"9W2ldgh423Y25u83v\":\"5c6H51DqGsHOgQpwi0S\",\"4Q9\":\"VZF822Ee6BhDE\",\"BsRjY3\":\"LbjwDI\",\"hAk91ZWF\":\"iK60Xmyum6BSZ7\"}}}"}}}}},"update-team-invitation-role":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"update-team-invitation-role","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"email":{"$ref":"#\/components\/schemas\/Email"},"role":{"title":"TeamRole","type":"string","enum":["viewer","admin","editor","owner"]}},"required":["teamId","email","role"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c616fbf\",\"email\":\"rgovtb@example.net\",\"role\":\"editor\"}"}}}}},"mark-all-threads-as-read":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"mark-all-threads-as-read","type":"object","properties":{"threads":{"type":"array","items":{"$ref":"#\/components\/schemas\/Uuid"}}},"required":["threads"]},"example":"{\"threads\":[\"5ab5eb30-5b3a-81d5-8008-2a395c57616c\",\"5ab5eb30-5b3a-81d5-8008-2a395c57616d\",\"5ab5eb30-5b3a-81d5-8008-2a395c57616e\",\"5ab5eb30-5b3a-81d5-8008-2a395c57616f\",\"5ab5eb30-5b3a-81d5-8008-2a395c576170\",\"5ab5eb30-5b3a-81d5-8008-2a395c576171\",\"5ab5eb30-5b3a-81d5-8008-2a395c579689\",\"5ab5eb30-5b3a-81d5-8008-2a395c57968a\",\"5ab5eb30-5b3a-81d5-8008-2a395c57968b\"]}"}}}}},"update-comment-thread-status":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"update-comment-thread-status","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"shareId":{"$ref":"#\/components\/schemas\/Uuid","nullable":true}},"required":["id"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c3f3b81\"}"}}}}},"export-binfile":{"post":{"description":"Export a penpot file in a binary format.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"export-binfile","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"includeLibraries":{"$ref":"#\/components\/schemas\/Boolean"},"embedAssets":{"$ref":"#\/components\/schemas\/Boolean"}},"required":["fileId","includeLibraries","embedAssets"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c616fbe\",\"includeLibraries\":false,\"embedAssets\":true}"}}}}},"import-binfile":{"post":{"description":"Import a penpot file in a binary format. If `file-id` is provided,\nan in-place import will be performed instead of creating a new file.\n\nThe in-place imports are only supported for binfile-v3 and when a\n.penpot file only contains one penpot file.\n\nThe file content may be provided either as a multipart `file` upload\nor as an `upload-id` referencing a completed chunked-upload session,\nwhich allows importing files larger than the multipart size limit.\n","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"allOf":[{"title":"import-binfile","type":"object","properties":{"name":{"anyOf":[{"type":"string","maxLength":250},{"type":"object","additionalProperties":{"type":"string","maxLength":250}}]},"projectId":{"$ref":"#\/components\/schemas\/Uuid"},"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"version":{"$ref":"#\/components\/schemas\/Int"},"file":{"title":"Upload","type":"object","properties":{"filename":{"type":"string"},"size":{"$ref":"#\/components\/schemas\/Int"},"path":{"$ref":"#\/components\/schemas\/FilesystemPath"},"mtype":{"type":"string"},"headers":{"type":"object","additionalProperties":{"type":"string"}}},"required":["filename","size","path"]},"uploadId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["name","projectId"]}]},"example":"{\"name\":\"u8q3cE0SAf2PlbfBN2C0uNyCV0dtMe7z3S7G1XrZ61q00u6B73dF4Gi32DOJBm2h06fOF1zZ2b559f66hah\",\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395e14b384\",\"version\":-882,\"uploadId\":\"5ab5eb30-5b3a-81d5-8008-2a395e14b385\"}"}}}}},"get-project-files":{"post":{"description":"Get all files for the specified project.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-project-files","type":"object","properties":{"projectId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["projectId"]},"example":"{\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c49eee4\"}"}}},"responses":{"default":{"description":"A default response","content":{"application\/json":{"schema":{"type":"array","items":{"title":"File","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"features":{"$ref":"#\/components\/schemas\/Features"},"hasMediaTrimmed":{"$ref":"#\/components\/schemas\/Boolean"},"commentThreadSeqn":{"title":"integer","description":"integer","type":"integer","minimum":0},"name":{"type":"string","maxLength":250},"revn":{"title":"integer","description":"integer","type":"integer","minimum":0},"vern":{"title":"integer","description":"integer","type":"integer","minimum":0},"modifiedAt":{"$ref":"#\/components\/schemas\/Inst"},"isShared":{"$ref":"#\/components\/schemas\/Boolean"},"projectId":{"$ref":"#\/components\/schemas\/Uuid"},"createdAt":{"$ref":"#\/components\/schemas\/Inst"},"data":{"$ref":"#\/components\/schemas\/Any"}},"required":["id","features","hasMediaTrimmed","commentThreadSeqn","name","revn","vern","modifiedAt","isShared","projectId","createdAt"]}},"example":"[{\"features\":[\"fdata\\\/path-data\",\"plugins\\\/runtime\",\"variants\\\/v1\",\"fdata\\\/objects-map\",\"text-editor\\\/v2\",\"render-wasm\\\/v1\",\"fdata\\\/shape-data-type\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":1,\"name\":\"k1M3bS5J0880otk5PcvTUnUQsGLtpbHl5Kr9EJ787IB4Q6DiYW1tvsIn4g5YSqB5QfJ22fZTR1se0jrdp4WMwaL6m1mT8Vn\",\"revn\":6647971,\"modifiedAt\":\"2026-06-12T12:36:02.443760717Z\",\"vern\":1,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4a67bf\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4b26c6\",\"createdAt\":\"2026-06-12T12:36:02.422868376Z\",\"data\":\"cmsb\"},{\"features\":[\"plugins\\\/runtime\",\"text-editor\\\/v2-html-paste\",\"text-editor-wasm\\\/v1\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":104599,\"name\":\"Yy6MQUeK6zs9vJL1fe4RH6d0c89PGb7aaWc7ra4exoQJqF87xxfs1CGVh8oOc3HPgesF23y026B60pa9t923PrNA6wkfDt55U5163Ob9FCoxTh97a9Qv8pleS64iX52BoCKS6tYaX8VkjZy9dl\",\"revn\":2,\"modifiedAt\":\"2026-06-12T12:36:02.478516386Z\",\"vern\":10396142,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4b61fb\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4bd26b\",\"createdAt\":\"2026-06-12T12:36:02.475589043Z\",\"data\":4.61},{\"features\":[\"plugins\\\/runtime\",\"design-tokens\\\/v1\",\"styles\\\/v2\",\"fdata\\\/objects-map\",\"text-editor\\\/v2\",\"text-editor-wasm\\\/v1\",\"components\\\/v2\",\"fdata\\\/shape-data-type\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":287,\"name\":\"GfiiN4bfG1M6bZQ1WDtcU2UYRsKmCtx5\",\"revn\":2,\"modifiedAt\":\"2026-06-12T12:36:02.390655239Z\",\"vern\":0,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4c603e\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4c603f\",\"createdAt\":\"2026-06-12T12:36:02.425756095Z\"},{\"features\":[\"plugins\\\/runtime\",\"variants\\\/v1\",\"layout\\\/grid\",\"styles\\\/v2\",\"text-editor\\\/v2-html-paste\",\"fdata\\\/objects-map\",\"tokens\\\/numeric-input\",\"render-wasm\\\/v1\",\"components\\\/v2\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":5862,\"name\":\"uLcCNdcedgR4kC2J6D103El7bqTu7z3weU7svzcm3a9eKEHtpJFH4l3hu36wO3sXC8qN0hP9b8ktZN3rgCmesY63IGy2Czn4dEOP8Y3m37IS8qE2qN3G4vrMs87h4yY3rSb3i94YS09YwroPpAZu1vf6bB0K861m942xEZ11TyhFYzOWH1Ynr7GZkspiRp4ny03Gbcnu7xjsmhp2tl7v\",\"revn\":1348,\"modifiedAt\":\"2026-06-12T12:36:02.412525106Z\",\"vern\":1,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4cbabb\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4d0823\",\"createdAt\":\"2026-06-12T12:36:02.476635194Z\"},{\"features\":[\"variants\\\/v1\",\"layout\\\/grid\",\"styles\\\/v2\",\"text-editor\\\/v2-html-paste\",\"fdata\\\/objects-map\",\"render-wasm\\\/v1\",\"components\\\/v2\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":25282459,\"name\":\"LCUUHQQ6QXF5w824l184FZE7JVmY0N4Ma2wVy5cZbG64zZd9O38UcftUU75Wl0PT1Tu83RD0zGe6lb3u78IWQhx\",\"revn\":280,\"modifiedAt\":\"2026-06-12T12:36:02.423953004Z\",\"vern\":3,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4d0824\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4d76e5\",\"createdAt\":\"2026-06-12T12:36:02.405026398Z\",\"data\":\"isxdr\"},{\"features\":[\"plugins\\\/runtime\",\"layout\\\/grid\",\"styles\\\/v2\",\"fdata\\\/pointer-map\",\"text-editor\\\/v2-html-paste\",\"render-wasm\\\/v1\",\"text-editor-wasm\\\/v1\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":822,\"name\":\"A4U87A6S6DaoIBL5zQ89wXD8w00r9ymWw0vPO1rWmi8FMhe6o5LRs6nb2hPM0nt8dgs0GOB88yUUgoCcx4Q3xEOFm1R24TL6k40Un4XlraG0gB82IQriIr4TNippNPoh08feop83oKvLDksoongztd3mvk2guEH5\",\"revn\":14824199,\"modifiedAt\":\"2026-06-12T12:36:02.479108594Z\",\"vern\":15822869,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4da2ff\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4e0bcc\",\"createdAt\":\"2026-06-12T12:36:02.421185312Z\",\"data\":0.0},{\"features\":[\"fdata\\\/path-data\",\"plugins\\\/runtime\",\"design-tokens\\\/v1\",\"layout\\\/grid\",\"styles\\\/v2\",\"fdata\\\/pointer-map\",\"text-editor\\\/v2-html-paste\",\"fdata\\\/objects-map\",\"text-editor\\\/v2\",\"text-editor-wasm\\\/v1\",\"components\\\/v2\",\"fdata\\\/shape-data-type\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":4,\"name\":\"0GlY\",\"revn\":1946374,\"modifiedAt\":\"2026-06-12T12:36:02.486594270Z\",\"vern\":223677,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4e0bcd\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4e0bce\",\"createdAt\":\"2026-06-12T12:36:02.412684156Z\",\"data\":\"fnfarzf\"},{\"features\":[\"plugins\\\/runtime\",\"design-tokens\\\/v1\",\"fdata\\\/pointer-map\",\"text-editor\\\/v2-html-paste\",\"fdata\\\/objects-map\",\"tokens\\\/numeric-input\",\"render-wasm\\\/v1\",\"text-editor-wasm\\\/v1\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":31,\"name\":\"OdT8i1SRRY8LRGh7GI0t5t1ZGRA79L9fT8R4Y8nxi6Zmix4u15313sn2z6Ri08751z14p31awKvv5D0X99DEvIf863TozU307i48tgX9MbNH4z\",\"revn\":8874666,\"modifiedAt\":\"2026-06-12T12:36:02.429528151Z\",\"vern\":1297482,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4e473f\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4e9a22\",\"createdAt\":\"2026-06-12T12:36:02.438593176Z\"},{\"features\":[\"fdata\\\/path-data\",\"layout\\\/grid\",\"styles\\\/v2\",\"fdata\\\/pointer-map\",\"render-wasm\\\/v1\",\"text-editor-wasm\\\/v1\",\"components\\\/v2\",\"fdata\\\/shape-data-type\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":499360211,\"name\":\"56ZfOjssXRgklvBm2L51oNDGlPZFCf6bQ7qM4085Zw7U0yA1qumrA58cm1Y330jr3rU\",\"revn\":3363,\"modifiedAt\":\"2026-06-12T12:36:02.395741527Z\",\"vern\":48604,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4e9a23\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4eef27\",\"createdAt\":\"2026-06-12T12:36:02.433940360Z\",\"data\":\"szifkj\"},{\"features\":[\"styles\\\/v2\",\"fdata\\\/objects-map\",\"tokens\\\/numeric-input\",\"render-wasm\\\/v1\",\"components\\\/v2\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":62803072,\"name\":\"8Ql87maaGc4NkmZfu82NA\",\"revn\":57,\"modifiedAt\":\"2026-06-12T12:36:02.415613292Z\",\"vern\":6959904,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4f2962\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4f2963\",\"createdAt\":\"2026-06-12T12:36:02.434711827Z\"},{\"features\":[\"plugins\\\/runtime\",\"design-tokens\\\/v1\",\"styles\\\/v2\",\"fdata\\\/pointer-map\",\"fdata\\\/objects-map\",\"tokens\\\/numeric-input\",\"render-wasm\\\/v1\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":244126,\"name\":\"JJ2DlZY04ANp371a7lU9bvaVwB2hfGTay98cyV3lbr7Y25QMptxj2n2jYO7X883SAoKecT0e2651mOe32a95ATAqnfhlPOUzlJx0jS99sA892Bpbn5xu5KSbQO9zcgk7B2v6VWA739l1jG0m8Wrv66HR484bX5o8I9e25t0d5RtbW2T\",\"revn\":7,\"modifiedAt\":\"2026-06-12T12:36:02.441823701Z\",\"vern\":3891,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4f2964\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4fbb53\",\"createdAt\":\"2026-06-12T12:36:02.428898137Z\"},{\"features\":[\"layout\\\/grid\",\"text-editor\\\/v2-html-paste\",\"text-editor\\\/v2\",\"tokens\\\/numeric-input\",\"render-wasm\\\/v1\",\"components\\\/v2\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":43620,\"name\":\"l5sIOjS5uE62K\",\"revn\":5245141,\"modifiedAt\":\"2026-06-12T12:36:02.443393749Z\",\"vern\":711,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4fbb54\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c4ff244\",\"createdAt\":\"2026-06-12T12:36:02.443469268Z\"},{\"features\":[\"fdata\\\/path-data\",\"plugins\\\/runtime\",\"layout\\\/grid\",\"styles\\\/v2\",\"text-editor\\\/v2\",\"components\\\/v2\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":1488,\"name\":\"Agb017AaUxcbvPjolTC3pzMbq5kb5g6BB94E10tyXi8uFN975XD98nHuppPPR395kD5zoemGDbpfLX0ucU8F59X5jsA4oxOMcCY8L3SBE5Rd3fKJ5U9IMm94ajmb19sb53bysSN84M8174S3fNCbfXR36hZA4O53TW0vAe65Db6ai4L49Uzh0yIZbt6b2Y7MI0KEk9Rn4Y0Dg4g6Q7E83036d66E2aG98EHoOnImjxwf69iYi0JPI\",\"revn\":129278,\"modifiedAt\":\"2026-06-12T12:36:02.415135921Z\",\"vern\":71373,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c4ff245\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c50a459\",\"createdAt\":\"2026-06-12T12:36:02.446207092Z\"},{\"features\":[\"design-tokens\\\/v1\",\"variants\\\/v1\",\"layout\\\/grid\",\"styles\\\/v2\",\"text-editor\\\/v2-html-paste\",\"tokens\\\/numeric-input\",\"render-wasm\\\/v1\",\"text-editor-wasm\\\/v1\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":13896054,\"name\":\"01WlL3VTIf9HBb2kfjdj78dJihe444lh019NCCHGgVh2moPYta15dSY2707MV7y0A57GBDRYs8IeQl4V5Z4siI7abrp4A7vy7hx7t36LibpuKTfn61J7ID3qXAga93rg1h4vzgI03VhtG416O3P134nLvvmwaUsAPts6kywid58Ym6w28E9l6f98C\",\"revn\":42497785,\"modifiedAt\":\"2026-06-12T12:36:02.490323938Z\",\"vern\":5605,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c50a45a\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c5130e4\",\"createdAt\":\"2026-06-12T12:36:02.446392015Z\",\"data\":\"mhpz\"},{\"features\":[\"fdata\\\/path-data\",\"design-tokens\\\/v1\",\"variants\\\/v1\",\"text-editor\\\/v2-html-paste\",\"fdata\\\/objects-map\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":149,\"name\":\"1G7D9IRB6F7Q7Gp6dygIP3uO6HGkdfYiNLV8c5Tol1068uWTXKh1vfy4LFxg3gA2Q\",\"revn\":271,\"modifiedAt\":\"2026-06-12T12:36:02.443012281Z\",\"vern\":51600,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c5130e5\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c5187f1\",\"createdAt\":\"2026-06-12T12:36:02.484072211Z\"},{\"features\":[\"fdata\\\/path-data\",\"plugins\\\/runtime\",\"variants\\\/v1\",\"layout\\\/grid\",\"styles\\\/v2\",\"fdata\\\/pointer-map\",\"text-editor\\\/v2-html-paste\",\"fdata\\\/objects-map\",\"text-editor\\\/v2\",\"render-wasm\\\/v1\",\"text-editor-wasm\\\/v1\",\"components\\\/v2\",\"fdata\\\/shape-data-type\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":1789,\"name\":\"g3NQMcXOBK7x9j9YIFul8eT9C29x12m2RpN1069CkXRb7rXt124etl9SaqQ3Ts958PGUOQZtqhVj7SjDHRIk02ke8iJj6a38P1jL127O0GVZ9Yd044FpH6dadsBqqFyizyoxXXu5W2Wld2WVGO9vCD5nR92Je5UdW0S7hwP454b6q97M8RVQ7tXA42r7Yubw3qZOQpoIBVLb0e\",\"revn\":3,\"modifiedAt\":\"2026-06-12T12:36:02.412584493Z\",\"vern\":4244,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c5187f2\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c521745\",\"createdAt\":\"2026-06-12T12:36:02.450680484Z\"},{\"features\":[\"plugins\\\/runtime\",\"design-tokens\\\/v1\",\"variants\\\/v1\",\"layout\\\/grid\",\"fdata\\\/objects-map\",\"tokens\\\/numeric-input\",\"components\\\/v2\",\"fdata\\\/shape-data-type\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":3655888,\"name\":\"Pt86NW05ps90NTk3CCRdM75OXN4S2xrIPIIKjcjk8R9eNVbxa5Xw24FK68yBZd1oQKJX0Fs0HTJWIvagYj168eKGQ2c2ATEDbeNWM\",\"revn\":6,\"modifiedAt\":\"2026-06-12T12:36:02.409281493Z\",\"vern\":1925,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c521746\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c52ae99\",\"createdAt\":\"2026-06-12T12:36:02.439364799Z\"},{\"features\":[\"fdata\\\/path-data\",\"design-tokens\\\/v1\",\"variants\\\/v1\",\"layout\\\/grid\",\"styles\\\/v2\",\"fdata\\\/pointer-map\",\"render-wasm\\\/v1\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":398437,\"name\":\"MHFoK4YMd\",\"revn\":14268,\"modifiedAt\":\"2026-06-12T12:36:02.449784260Z\",\"vern\":95,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c52ae9a\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c52ae9b\",\"createdAt\":\"2026-06-12T12:36:02.478849424Z\",\"data\":-63},{\"features\":[\"fdata\\\/path-data\",\"plugins\\\/runtime\",\"styles\\\/v2\",\"text-editor\\\/v2\",\"render-wasm\\\/v1\",\"fdata\\\/shape-data-type\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":230979,\"name\":\"zr5LUR663271z4UIIryl3LR5Q6Knu30dcXAn5LU6\",\"revn\":32761,\"modifiedAt\":\"2026-06-12T12:36:02.420522012Z\",\"vern\":45908,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c52ae9c\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c52cbc4\",\"createdAt\":\"2026-06-12T12:36:02.411580990Z\"},{\"features\":[\"fdata\\\/path-data\",\"plugins\\\/runtime\",\"design-tokens\\\/v1\",\"fdata\\\/pointer-map\",\"fdata\\\/objects-map\",\"tokens\\\/numeric-input\",\"components\\\/v2\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":13500309,\"name\":\"zz6VmKno72YNpD04XgCqvyeYuTz33qn7pnAY37wegP048iyZEKW97EMWG63MhAtfzKRB34kYrGX8ieQvC73hU75L0fKVPXM03\",\"revn\":20241756,\"modifiedAt\":\"2026-06-12T12:36:02.471375630Z\",\"vern\":429,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c52cbc5\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c5378e4\",\"createdAt\":\"2026-06-12T12:36:02.506470538Z\"},{\"features\":[\"fdata\\\/path-data\",\"variants\\\/v1\",\"text-editor\\\/v2-html-paste\",\"text-editor\\\/v2\",\"render-wasm\\\/v1\",\"text-editor-wasm\\\/v1\",\"fdata\\\/shape-data-type\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":6,\"name\":\"8yo4h9ZT6zHxywNi1Q0bO8S0xJCu57FOiy5AiC1qq0CWPA60Mv4uqJAlHiV0489v7GbW50QOh4Gair9SyK6D6FawmI1z515jSyeRT9jq1CiC09qOAiLCD15jMlk78zBJW6A3riz1hrc3i6MB0mU0DspsZR9qjCnHMmOBhIRC7WwBSG8C3JzT0j5hBSJQ88D850xBq8\",\"revn\":51066244,\"modifiedAt\":\"2026-06-12T12:36:02.423131135Z\",\"vern\":12288548,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c5378e5\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c5403a9\",\"createdAt\":\"2026-06-12T12:36:02.420207599Z\",\"data\":-57},{\"features\":[\"fdata\\\/path-data\",\"plugins\\\/runtime\",\"design-tokens\\\/v1\",\"styles\\\/v2\",\"fdata\\\/pointer-map\",\"text-editor\\\/v2\",\"tokens\\\/numeric-input\",\"render-wasm\\\/v1\"],\"hasMediaTrimmed\":true,\"commentThreadSeqn\":30,\"name\":\"6NJC7nj6l9ZLKP386QWRav6Q03jCe3wZ8rf89b7D81dLKqFfWRE\",\"revn\":6986,\"modifiedAt\":\"2026-06-12T12:36:02.449946836Z\",\"vern\":499,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c5403aa\",\"isShared\":false,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c5468c4\",\"createdAt\":\"2026-06-12T12:36:02.418053748Z\"},{\"features\":[\"fdata\\\/path-data\",\"styles\\\/v2\",\"text-editor\\\/v2-html-paste\",\"text-editor\\\/v2\",\"tokens\\\/numeric-input\",\"components\\\/v2\"],\"hasMediaTrimmed\":false,\"commentThreadSeqn\":0,\"name\":\"5JJ67C6t6N2i3eL98FaS5R41q7i7309w3hYH8qUWD9GIVMif7YMwPoD3Q8807Xfzwtdrtg4O8KuTtKXRkdO5T2h7jHy1A66l557C240N6508TArlx4beS173VeN2Hb2kK8t4reueuDyhy82R9PgX46nIP90582Qujo0qrsBn52GO1VBMb03U18T2z3QFyEKXQ7jdm8Z53apIfil0x5TpeA07rG1OqhW6Gy7s\",\"revn\":3271672,\"modifiedAt\":\"2026-06-12T12:36:02.507169166Z\",\"vern\":1087,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c5468c5\",\"isShared\":true,\"projectId\":\"5ab5eb30-5b3a-81d5-8008-2a395c54e7da\",\"createdAt\":\"2026-06-12T12:36:02.448229194Z\",\"data\":\"exry\"}]"}}}}}},"create-team-access-request":{"post":{"description":"A rpc call that allow to request for an invitations to join the team.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"allOf":[{"title":"create-team-access-request","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"isViewer":{"$ref":"#\/components\/schemas\/Boolean"}}}]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c561b07\",\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c561b08\",\"isViewer\":false}"}}}}},"get-team-shared-files":{"post":{"description":"Get all file (libraries) for the specified team.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-team-shared-files","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["teamId"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c74913e\"}"}}}}},"push-audit-events":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"push-audit-events","type":"object","properties":{"events":{"type":"array","items":{"title":"Event","type":"object","properties":{"name":{"allOf":[{"type":"string","maxLength":250},{"type":"string","pattern":"[\\d\\w-]{1,50}"}]},"type":{"allOf":[{"type":"string","maxLength":250},{"title":"enum","type":"string","enum":["identify","action","trigger"]}]},"props":{"type":"object","additionalProperties":{"$ref":"#\/components\/schemas\/Any"}},"timestamp":{"$ref":"#\/components\/schemas\/Inst"},"context":{"type":"object","additionalProperties":{"$ref":"#\/components\/schemas\/Any"}}},"required":["name","type","props","timestamp"]}}},"required":["events"]},"example":"{\"events\":[{\"name\":\"get-profile\",\"type\":\"action\",\"props\":{\"-An_:z\":\"cddg\",\"N*5eR\":\"vwjntgu\",\"LM_1\":true,\"kap?:-ws\":false,\"!\":0.05,\"X2_Tr\":\"ctepx\",\"+o\":\"wpzqaq\",\"Y_4l\":69,\"DBf?U-\":0.14,\"dnOk\":0.24,\"W*.?8e_\":\"hsucd\",\"pJ4FgbA2\":true,\"g8\":\"jfhh\",\".I\":false,\"cIFKo+Y\":\"uoil\",\"_a\":0.03,\"N1A\":-4,\"!A3rr:*+\":\"bakpw\",\"S4\":\"eevaxf\",\"bzy6!G+\":true},\"timestamp\":\"2026-06-12T12:36:02.496326610Z\",\"context\":{\"?!a\":\"ncncr\",\"FS-3!\":\"qbqtht\",\"z\":-63,\"VcY\":-60,\"g+2V\":58,\".YPE7_\":\"jksc\",\"HQc_-_.\":\"xmhl\",\"Um+5\":52,\"x\":\"xfcw\",\"Kc_8-1\":\"vzzl\",\"*1s\":54,\"*3pO8\":52,\"J5r-+3._\":\"clmnl\",\"uRU_CP_G\":true,\"B\":true,\"!3*G?\":\"nlol\",\"_\":\"hpgd\",\"alE\":true,\"Z+0!\":false,\"*V1\":0.0,\"e7r\":\"fsnj\",\".?2!\":true,\"Ul5:3!\":-37,\"ak52H\":\"cojz\",\"U.-?H\":80,\"_11-:XO\":\"ojugg\"}},{\"name\":\"get-profile\",\"type\":\"identify\",\"props\":{\".0.?+\":true,\"wx-?b21\":true,\"kc7:k\":55,\"Uz.\":\"wiak\",\"e\":19.76,\"*-I\":\"waigb\",\"M\":\"qykpj\",\"*vYI\":0,\"?4*6\":true,\"j?D-86\":true,\"KX\":true,\"!G*!\":-53.06,\"o_:*H\":-64,\"S+E0.zs\":-31,\"V3x\":\"ucmti\",\"c2-1n-\":0.03,\".\":-0.18,\"-WC.*i!\":\"sntioc\",\"WK?\":false,\"Ld!\":\"tsgabp\",\"t:J67!B\":\"ezcemqf\",\"T:noq:+\":\"dffao\",\"??p\":-85,\"X*d5L\":6,\"+\":true,\"D\":false,\"hl\":true,\"+!\":\"kbmx\",\"C-lQ6\":0.01},\"timestamp\":\"2026-06-12T12:36:02.589883686Z\",\"context\":{\"ww\":false,\"t*+rT\":true,\"O5EJ8d\":\"ksrjncu\",\"i*vU_?*\":\"zeakpl\",\"_4:e-CV4\":true,\"ABm8P4Va2\":58.9,\"--*\":false,\"y0.GS\":\"ixuhh\",\"L+_8\":65.1,\"+!-\":\"qcnpklk\",\"S\":92,\"J:s?d?\":\"hged\",\"wu9Sl64u\":\"nyyg\",\"x--:?0Z\":\"rkgvo\",\"D?-_2!\":true,\"d-r:2*?\":\"hakt\",\"u+-_\":61,\"po.:uv\":\"dboaych\",\"?7D\":true,\"+\":\"jqhq\",\"ks\":\"etsm\"}},{\"name\":\"get-profile\",\"type\":\"identify\",\"props\":{\"fRL\":\"szdeer\",\"j+-\":\"cleks\",\"s3VUT\":true,\"*x\":2,\"+-Emcyl1\":true,\"M4*Hq\":-0.01,\".P?IQ1-H\":\"jvir\",\"-\":\"jcyeqyy\",\"G\":-0.01,\"Y\":true,\"H\":\"yoxw\",\"W:Q\":88,\"*-S\":\"tqxq\",\"B\":false,\"F*+-\":\"vedgtu\",\"L++*7B\":\"elnoc\",\"-?\":-88,\"Y?\":false,\".*17\":\"fnpqr\",\"Mo-:J\":87,\"Sy:H!:1\":\"inqhh\",\"sz_RO\":\"eets\",\"WMi!qLH\":\"glzbdz\"},\"timestamp\":\"2026-06-12T12:36:02.546106854Z\"},{\"name\":\"update-file\",\"type\":\"action\",\"props\":{\"!3+7:q:9\":0.37},\"timestamp\":\"2026-06-12T12:36:02.529401072Z\"},{\"name\":\"update-file\",\"type\":\"trigger\",\"props\":{\"F!u0_!eg\":true,\"_F2Wl+\":5.93,\"mr8xZp\":0.01,\"*4vs7T\":\"otzbm\",\"_-dV!Y\":\"egjazm\",\"YW_.\":false,\"-\":-88,\"ce+70\":-0.02,\"?w\":\"lnefh\",\"?\":\"enkd\",\"Sa:+\":\"hfugm\",\"rgA86\":54,\"s?q?1RA\":\"iduw\",\"!H\":\"eeuc\",\"d+M8U\":true,\"VK3_:U_\":true,\"o\":\"nseyqvyhg\",\"nAL\":\"iywfkf\",\"?qi-\":-76},\"timestamp\":\"2026-06-12T12:36:02.561579777Z\"},{\"name\":\"get-profile\",\"type\":\"trigger\",\"props\":{\"Q.TS\":\"miiu\",\"m?qP8\":\"kvpl\"},\"timestamp\":\"2026-06-12T12:36:02.545186846Z\"},{\"name\":\"update-file\",\"type\":\"action\",\"props\":{\"R8:dV**\":-85},\"timestamp\":\"2026-06-12T12:36:02.552417754Z\"},{\"name\":\"update-file\",\"type\":\"identify\",\"props\":{\"RJ_L-g5\":\"ftbtifp\",\"xoA*EM+\":false,\"SA0R\":\"ntse\",\"s-AH_!d\":false,\"s__\":\"aqav\",\"wc3-+R\":-0.01,\"_jU.Va*\":false,\"F4t\":-75,\"G+\":53,\"!XQit\":0.24,\"d5?\":\"zkmrtzw\",\"_0\":0.0},\"timestamp\":\"2026-06-12T12:36:02.522191359Z\"},{\"name\":\"update-file\",\"type\":\"identify\",\"props\":{\"qDXXw*bQ\":\"zvpn\",\"?\":-2,\"N!7?..6g\":-8.59,\"__KW\":true,\"R!p5sFhw\":\"xqkl\",\".y5-+2-\":100,\"bb3P:s\":10,\"*_k\":-92,\"AwZ*W\":\"qkul\",\"_Y+\":48.0,\"gq0\":30},\"timestamp\":\"2026-06-12T12:36:02.552895859Z\",\"context\":{\"vuu\":0,\"!C?F+*S\":0.0,\"La\":\"zjyi\",\"gn+:0.!\":62,\".Yr75MA?\":-4.57,\"a\":\"vusccms\",\"*.-5xR0f\":false,\"+jZfW\":\"fzqx\",\"qtu5\":true,\".dMlO_\":1.06,\"?S\":\"rqfs\",\"kOOj\":true,\"_.?2q-d\":true}},{\"name\":\"get-profile\",\"type\":\"action\",\"props\":{\"q\":\"rdswa\",\"x\":\"hgfn\"},\"timestamp\":\"2026-06-12T12:36:02.563533965Z\"},{\"name\":\"update-file\",\"type\":\"identify\",\"props\":{\"?:WR:J!3\":-0.4,\"+Y2._\":false,\"V+5V*Cd\":false,\"-n*\":1.47,\"!AA\":-2,\"zI80049\":10.0,\"+q\":1.41,\"Qo\":\"ygol\",\"c\":-5.84},\"timestamp\":\"2026-06-12T12:36:02.588802233Z\",\"context\":{\"*02\":\"xplgj\",\"*+j\":\"ittci\",\"yx\":\"ddom\",\"D9aoRrE5\":\"fszndgx\",\"SdU?\":\"kyaqnnm\",\"L:+\":\"wszgc\",\"YN+an\":-97,\"wO6_J*\":\"lzyy\",\"M!H\":\"otutv\",\"Lm2?3\":true,\"-p.oq45\":\"axedl\",\"v0M6D++\":\"hvoq\",\"c-_dl.-\":\"ksjw\"}},{\"name\":\"get-profile\",\"type\":\"identify\",\"props\":{\"b:6\":\"aljok\",\"_89?\":-2,\"qg\":0.35,\"L:+?:?:o\":\"bkys\",\"v?w\":true,\"ds\":-58,\"uKqcy+.R\":\"otts\",\"uQk+\":-0.01},\"timestamp\":\"2026-06-12T12:36:02.569915209Z\",\"context\":{\"Z-wDgA\":false,\"QQY*+\":0,\"y3\":false,\"*U23\":\"nbnu\",\"Gc5\":\"sgbok\",\"q!\":\"nzol\",\"t-7D8\":55,\"Y\":\"udork\",\"oPfi*.??\":\"ehgm\",\"F?n!XDWE\":33.34,\"B\":false,\"Z:9+\":93,\"v-3+\":96,\"?-6K\":\"seyu\",\"hn+E\":\"byxfm\",\"Z?\":20.08,\"t2388*5\":-62,\"C*!*\":false,\"V-F2I-j\":true,\"*1+275\":true,\"W\":83,\"+h9:!n.9\":\"mwdqb\",\"+\":0.04,\"+PA\":0.09,\"d5b9*\":0.13}},{\"name\":\"get-profile\",\"type\":\"identify\",\"props\":{\"!\":false,\"*.-+\":\"ctye\",\"JaL8*.\":-0.13,\"F+\":false,\"Z8?K?\":true,\"p4:Y\":true,\"nS\":86,\"Y-G__-b!\":-0.06,\"p:.P.:O\":0.0,\"B1:c+s1L\":\"jvxlvzuc\"},\"timestamp\":\"2026-06-12T12:36:02.533609387Z\"},{\"name\":\"update-file\",\"type\":\"action\",\"props\":{\"-.9Ra1-\":0.57,\"w1sfaN+6\":false},\"timestamp\":\"2026-06-12T12:36:02.566041926Z\"}]}"}}}}},"get-nitrate-connectivity":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{}},"example":"{}"}}},"responses":{"default":{"description":"A default response","content":{"application\/json":{"schema":{"title":"nitrate-connectivity","type":"object","properties":{"licenses":{"$ref":"#\/components\/schemas\/Boolean"}},"required":["licenses"]},"example":"{\"licenses\":false}"}}}}}},"update-team":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"update-team","type":"object","properties":{"name":{"allOf":[{"title":"string","description":"not whitespace string","type":"string"}]},"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["name","id"]},"example":"{\"name\":\"tofr\",\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395e0ceabf\"}"}}}}},"get-profile":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"type":"object","properties":{}},"example":"{}"}}},"responses":{"default":{"description":"A default response","content":{"application\/json":{"schema":{"title":"Profile","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"fullname":{"title":"string","description":"string","type":"string","format":"string"},"email":{"$ref":"#\/components\/schemas\/Email"},"isActive":{"$ref":"#\/components\/schemas\/Boolean"},"isBlocked":{"$ref":"#\/components\/schemas\/Boolean"},"isDemo":{"$ref":"#\/components\/schemas\/Boolean"},"isMuted":{"$ref":"#\/components\/schemas\/Boolean"},"createdAt":{"$ref":"#\/components\/schemas\/Inst"},"modifiedAt":{"$ref":"#\/components\/schemas\/Inst"},"defaultProjectId":{"$ref":"#\/components\/schemas\/Uuid"},"defaultTeamId":{"$ref":"#\/components\/schemas\/Uuid"},"props":{"title":"ProfileProps","type":"object","properties":{"plugins":{"type":"object","properties":{"ids":{"type":"array","items":{"type":"string"}},"data":{"type":"object","additionalProperties":{"type":"object","properties":{"pluginId":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"host":{"type":"string"},"code":{"type":"string"},"icon":{"type":"string"},"permissions":{"type":"array","items":{"type":"string"},"uniqueItems":true}},"required":["pluginId","name","host","code","permissions"]}}},"required":["ids","data"]},"renderer":{"title":"enum","type":"string","enum":["svg","wasm"]},"mcpEnabled":{"$ref":"#\/components\/schemas\/Boolean"},"newsletterUpdates":{"$ref":"#\/components\/schemas\/Boolean"},"newsletterNews":{"$ref":"#\/components\/schemas\/Boolean"},"onboardingTeamId":{"$ref":"#\/components\/schemas\/Uuid"},"onboardingViewed":{"$ref":"#\/components\/schemas\/Boolean"},"v2InfoShown":{"$ref":"#\/components\/schemas\/Boolean"},"welcomeFileId":{"$ref":"#\/components\/schemas\/Boolean","nullable":true},"releaseNotesViewed":{"title":"string","description":"not whitespace string","type":"string"},"notifications":{"title":"props-notifications","type":"object","properties":{"dashboardComments":{"title":"enum","type":"string","enum":["all","partial","none"]},"emailComments":{"title":"enum","type":"string","enum":["all","partial","none"]},"emailInvites":{"title":"enum","type":"string","enum":["all","none"]}},"required":["dashboardComments","emailComments","emailInvites"]},"workspaceVisited":{"$ref":"#\/components\/schemas\/Boolean"}}}},"required":["id","fullname","email"]},"example":"{\"email\":\"xzkb@example.net\",\"isDemo\":false,\"fullname\":\"mzsvldv\",\"modifiedAt\":\"2026-06-12T12:36:02.591304376Z\",\"isActive\":false,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c770354\",\"isMuted\":true,\"defaultTeamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c770355\",\"createdAt\":\"2026-06-12T12:36:02.596271801Z\",\"isBlocked\":true}"}}}}}},"get-file-summary":{"post":{"description":"Retrieve a file summary by its ID. Only authenticated users.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-file-summary","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["id"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c775dbb\"}"}}}}},"get-comments":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-comments","type":"object","properties":{"threadId":{"$ref":"#\/components\/schemas\/Uuid"},"shareId":{"$ref":"#\/components\/schemas\/Uuid","nullable":true}},"required":["threadId"]},"example":"{\"threadId\":\"5ab5eb30-5b3a-81d5-8008-2a395c57616b\"}"}}}}},"get-profiles-for-file-comments":{"post":{"description":"Retrieves a list of profiles with limited set of properties of all\nparticipants on comment threads of the file.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-profiles-for-file-comments","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"shareId":{"$ref":"#\/components\/schemas\/Uuid","nullable":true}},"required":["fileId"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c60a2c1\"}"}}}}},"permanently-delete-team-files":{"post":{"description":"Mark the specified files to be deleted immediatelly on the\nspecified team. The team-id on params will be used to filter and\ncheck writable permissons on team.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"permanently-delete-team-files","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"ids":{"title":"set","description":"Set of Strings","type":"array","items":{"$ref":"#\/components\/schemas\/Uuid"},"uniqueItems":true}},"required":["teamId","ids"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395e0d528b\",\"ids\":[\"5ab5eb30-5b3a-81d5-8008-2a395e0d52a1\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d528f\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5292\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d529d\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5299\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d528d\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5298\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5290\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d529a\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5291\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d529b\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d528e\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d52a0\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d529c\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d52a4\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d52a2\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d52a5\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d529e\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5295\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5293\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5297\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d528c\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d529f\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d52a3\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5294\",\"5ab5eb30-5b3a-81d5-8008-2a395e0d5296\"]}"}}}}},"set-file-shared":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"set-file-shared","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"isShared":{"$ref":"#\/components\/schemas\/Boolean"}},"required":["id","isShared"]},"example":"{\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395c7c66dd\",\"isShared\":true}"}}}}},"get-projects":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-projects","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["teamId"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395e0dfaa3\"}"}}}}},"get-owned-teams":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-teams","type":"object","properties":{}},"example":"{}"}}}}},"verify-token":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"verify-token","type":"object","properties":{"token":{"type":"string","maxLength":5000}},"required":["token"]},"example":"{\"token\":\"31Tg1Wu9Q46g7l0zFESJT1Q01UR48MOB1pQNw6Sdy461824z7TXRpXHp6LmX23rxW4Q3jWuSZPDSQ83oXb0nHkhCr7La6rXhA0eJa2A1aWTYw1ad4CmU2y8CAcU63AfyZ4Ctw3RLU0T0u4450R4VD0iQs01Ky3TCitcp56M3jWR1nkeXJT0lF3MfTE6w4g4438CO5q30tsj5RidokESwb0fa6eUr5m9ke845ZAieY9uO3Aca6lC1328m5wT612opBKsmz9kAF31ZeXfPw7z2mR04M1ZdwS7fMvjF88atf615jmbM11A8m4KEL2R68rIeZIZB02S8KIf8Y355PCSOt1k7SsT5jTuB2T2h5876aJ2Bl2ED3Xs5uOUr2Kz8m53peFUUc08o1UOTvez0369vr8gHW6N1bOey6ANRg5vzx0KY248pBzKn37KB5jk9kC78RNsV197Hhtj50dW2n3ZqjBmfYppq3HNcO3R3h708546w5eWZDStJ23aNsRUEG7HbnBCOjvlkuHd0h132vL0se8cu53RhaUX1GSi9w13uUMP6q91Qoapon3F502kQ3U8Uc2UxDIgt1rBWz58K6r3Ewkrc2p0ru15dS53ECqRXu4bMZ7jj0P3b42Naa223uK2upwF6a4N22i6xW36QiG4264I05fnce4p692V99IyxdH9V058eSE1QHGd57NcI4KS3Z0BW13eSRWKb667Q5gL99xU6zD1YzKE9tvr8S1jU4U6G2Pe2XjFYzua2kvHJcKtm1B1VSJg8onq3ETJtHPpgHMSSZ9T3vP7xDqe44pn84nroB7Z1kuG0ttvj9b1C0s45Qm8li0Rds5S5ph6QV46Q123sb8YA4GGMI6mYGsbrvt23pSG1a2q0W0W2p8t522XqPKzwU3hDJWwVun9RQQyVuj5QqZh55GxsiuVKyYTw53e26B2572Uv1hdKVV1DXvtRCYByA0RC34uh7X8X9b2f6xt8cAJ32TeB2LcaWhRQ86Clmu0DRyaKoVCKTiB2WM9sbm3cBwP61wuK1QcadfPP9HEBHZ4Xqf6Q90E68m42XM6014v0s210cK6u3JZ0o4cR5jxv91Yi68q0KkcRnZNPZRED3L5wdqXM3M3266tVUObjn6467366zrRd36Dyu4N0TK6E1r8K92aj0870YCFqqD142bO9WlwjSWZ78GU52H4a58LIOVjtv2q44Q77pFso57f2L7BA9p3LNbPOuiN5dPClUp0O49VzZd7c48a90hzhs4l1TwDTj3OtZNys5w63H0rOZNJHSj28nPohT7i4UmeczTzV8Ayca99zf624oiRhwFxV08kHhbQuxwym30yaDXOv793FOyPmUx5txLU2E6kfLNHg87Qqno9Y6z2xXsxm0vW5pj06a8pLWJ8wPrP8hxR43l93J7oOxuPyhxG05T27OIomQXp448757jq1hle5S13AjniW3AVk2K9W1Kx26zR4d8EXNaQR20NPF0b87fC55r54eOjve1ij331bSq3wOh97fzxq5NLXrU4ln8JBJfZBUXe6BwgR2MgvWsF0f0bWmPZ05hAMasm79KIldHx6E492WU6155RWk4FM9jC85oxyQR31IdsQD36Q95csN1h5Y0XeF8X2g4wm7jmh57W0gBNAbNZLLxAIF9vVKMbdhd47858Dd5712o8Hq8wJJ3YV5032mKCCOgvz86H9S9JK39fPe41IfI7PkhZom83jzLsEbz3Hz2m2n240tttKr4AO1VM9k5U64557X35g1rAAcY2CH3o5j6d4PT5B9ETG47X90372QBllwlX3fpSEd1hefHRkK33VrgYV0z2Z83H33XGy64ao9QcWlo5q1cVp7ar811Umu9JuKkhVRSk6G8ZUooGd7f8n7HwPq9N19Z80cp1r68GuU62C2233L10kShXFnKa64S2moi51zv3SX0m4cukMh5XNkh0pBWIB5Wkg9ObDfp3z2kb0m03Q917n496LN83W0m03V6sJju8mP1q793zgJutoBhCeTBXdI199Xs4Bhd6OZFBvhHU1fpyPwFuIX0k0KnN4MhgQ2GuNf85eHe2FWNIG0gc08q25RWTq8LpxccL6RZ16NH9V4EP91nQHRo02v5W91ATv19s406ueZHXIb3thl2JoqjOGmkX6vZRyvBXGgb57gE4krua6ZG8z523WN05b44LS0gK8Y387pABq6bplV1q0RwrT1VW7926s7E3R0zm96EIzSWd7t92Wd8FC790b761uk4u7iqpOV1UJB3yO8X0jY6m9Ydt44GaT979W374EEMij5sRUnpkPk5GrMz2m5hjYsmSpn06L3nNufW4AE8vC1sZZB2JR9J6FI7rLs1k76xwU2kM3TB5vw992Os6hBOnw33lyGbgx6iGp75cXppk4XGiR7gE0d835w7pD4FBa6R7hxeaT74fX6HV3x07rEwqOy6AT543zL3U2a2290C0u77mq9wOBmdn5K4rS1fKGD11OczRlas3Tdf3car8uaE5gI1BszOF34016ko66J6mRxu3uMXG65LAEK842Q3dikk9CBp51lGzcO0QTc7C2232d3g12P44V8rn484ZvYUCu1s4Kz4z32N4S29pCY7qt3CKFqfNh77g8auwUU06m04gL2xv9W2y9P002C6C1c50H9nNa45c4Uxq2Fx6xF8HW7n72Kg4yqQM2g8ynPLpmwGBdkhpeAu8O9oPqUk5S57zfcXH4xq1Y3BlUj2q26bi9R806598o1qOvNR6pQ3B4Nl9zVj0rw8Y05B96yaUoz19Pbj0d5R1x5h7Nm917Be64gbe734JfGjLNIyyYnb5pHqOgNT3f154sqZ3fJ8Bgix0zrEI0M3IXmNb5H6KMX0NknQFP2mK2XX61lHqOt3p292yZ546v4eWw9s9T398d69k6VYvL51CTrds49x4m4GHHC2U0U52ydcF09QlVrtB5eP016Eb3Tc5wdb8xSP293tkO2641Sm3gvo1NF0y9BfJLKMN54c1UHv1xUeuL4vt5pBdq4mBudr6ur6c5KiM53FlmU66JMA1Hgl0l9VlT33jh3ygW0ALN8yXIAawq8ds3d837Q44oaKiL4xGFkLrrt881PTN6Q448x68v730705NJZ35k7TT93H6xYLs2ok5PUGFglF6KMK69ZQQWv7j6fc0EjL2Coj2l1Pr165h79J1I4t26V4f1QgVxAjk67klM7eykF6ND24HOt4qiS1w7C50fBCeBmEFehdPq4Ac16wPk38w15syE8h9JI3xhNz9VPM6JuU26GT64hN5gK47c74E2taTb21S0i54Xwnr795Cv6Bmx1u55NNf9g4aOGX1ZXVow143o0VzVj20928aM870n6289S547p8X2Jfnwzy3Ya7foy69IyaA5XAGNP9I22hlw6up4hc3EDhvuARk89t9UT4b1EEfU01uTkZ02JGZMfwnSJ5jM9UwA34Pd911tpfsek32ljq3PNXb1l2nVz5loknnt4TB2NdZe3ya1Cov3oz3NM3aeqyskVEfz7eKY9v8ORV1783EnqqFz47T4JFcbO344G6xqYRa15F5l9zR99k4cC424egL1LnUH5cbi6175t8379t1LgeF133496y4QobZ938qQc5d2icN1Ea2Hb85FhB35kc2e67A662OS6BXaG8t7HTQfYl2Nv93Q58R5hP7YsnYb86D7L16nKCk4EmMq0bix65zmv9V5YAk23N0VV83o3tsqB9R9DTKi086a54K6OB9cU9mP338sHF6aBYNLI28VaXf8oWE1dy8a059vk603dqjb8a0v1m54l5rpRjg3zyny6cOh56qfg8Ax10NPmdO4FFo975OxcuCpwBzO1Y4LZ730biu7C81M6cYP31Z8qo0WEbGfEU3N4Wr6M09qwtV9B5zhcI1h9a4J0kjp0cNXL99Cux4w18vq7oLit11ed8jbJK5Kc3Q1Gol02N7uISOvyfe2m5Gsa0vJ52U84V4NuD21jzUyUhi2zgG291RSXii1ToY14Q33kJ3opq6z0X4m8lv9900P1881om4HC2BOND0UDGZW6K2xWuNvyqVXFLEkHL9lc3Am937c26s66k4Y1x0RLAY9CePcG8M8Y5H5jE4M0pyXKC4mV1mKp1PhZOmdIEqqWo9C5B3jFQ2yOO66s53i05vIJroYLiAKHlw3G2PVS46dypcE9cMeLu62Wvsuw3v2HdUM43fDP0c3lpFU1DY8OCc3gETePO4R0yO7yMpU0VZS8Bub98uvASW1YAIHz9Zr6K1GgFtRIvm26msMPFJ181BL8B8f1AmNGq9WRtU6H2697O7q8E5OW77fg0dfnb0G79Q6noncqkE4CY9d5Eq33Mz57RX1fKSW2LIpbVAk71BI75th3a3qe121Cj1DuEGdDPQSA0ix3n0KONt9mv9323b37yjpSCNLkr1XDs285qQcB3d16o5hbOnUph9E46aBf45GnA8AFXCwiz3td2492t5x875EWa0WtIY3r78F6bf66jpDtAZaI15VD2aiSdV7Kl7Vpx2DUYqn4dkG1J8uujWS81556xMv0M0uPNZuk39to6s64jPsQRk8I58kc5Fup2pBz3dZ8doF8tDsjQ1W85DUKcI2bqMjfJ9be5032oO6otoy22lyi35qxua9av7jMMRMcAyE62Tdhw50Q6z0vhpvkWlG7V5926s3XfDr73z1B2ZSe2xY8gSDQxrOU33z2p45WdAFa14\"}"}}}}},"update-team-member-role":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"update-team-member-role","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"},"memberId":{"$ref":"#\/components\/schemas\/Uuid"},"role":{"title":"TeamRole","type":"string","enum":["viewer","admin","editor","owner"]}},"required":["teamId","memberId","role"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c569ccc\",\"memberId\":\"5ab5eb30-5b3a-81d5-8008-2a395c569ccd\",\"role\":\"owner\"}"}}}}},"clone-file-media-object":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"clone-file-media-object","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"},"isLocal":{"$ref":"#\/components\/schemas\/Boolean"},"id":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["fileId","isLocal","id"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395e0faab3\",\"isLocal\":false,\"id\":\"5ab5eb30-5b3a-81d5-8008-2a395e0faab4\"}"}}}}},"get-team-recent-files":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-team-recent-files","type":"object","properties":{"teamId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["teamId"]},"example":"{\"teamId\":\"5ab5eb30-5b3a-81d5-8008-2a395c467e8d\"}"}}}}},"get-library-file-references":{"post":{"description":"Returns all the file references that use specified file (library) id.","deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"get-library-file-references","type":"object","properties":{"fileId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["fileId"]},"example":"{\"fileId\":\"5ab5eb30-5b3a-81d5-8008-2a395c603d0f\"}"}}}}},"update-file":{"post":{"description":null,"deprecated":false,"requestBody":{"required":true,"content":{"application\/json":{"schema":{"title":"update-file","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"sessionId":{"$ref":"#\/components\/schemas\/Uuid"},"revn":{"$ref":"#\/components\/schemas\/Int"},"vern":{"$ref":"#\/components\/schemas\/Int"},"features":{"$ref":"#\/components\/schemas\/Features"},"changes":{"type":"array","items":{"title":"Change","oneOf":[{"title":"SetCommentThreadPositionChange","type":"object","properties":{"commentThreadId":{"$ref":"#\/components\/schemas\/Uuid"},"pageId":{"$ref":"#\/components\/schemas\/Uuid"},"frameId":{"$ref":"#\/components\/schemas\/Uuid","nullable":true},"position":{"$ref":"#\/components\/schemas\/GeomPoint","nullable":true}},"required":["commentThreadId","pageId","frameId","position"]},{"title":"AddObjChange","type":"object","properties":{"type":{"type":"string","enum":["add-obj"]},"id":{"$ref":"#\/components\/schemas\/Uuid"},"obj":{"title":"Shape","allOf":[{"title":"Shape","oneOf":[{"title":"ShapeMinimalRecord","type":"object","properties":{"layoutItemMarginType":{"title":"enum","type":"string","enum":["simple","multiple"]},"layoutItemMargin":{"type":"object","properties":{"m1":{"$ref":"#\/components\/schemas\/SafeNumber"},"m2":{"$ref":"#\/components\/schemas\/SafeNumber"},"m3":{"$ref":"#\/components\/schemas\/SafeNumber"},"m4":{"$ref":"#\/components\/schemas\/SafeNumber"}}},"layoutItemMaxH":{"$ref":"#\/components\/schemas\/SafeNumber"},"layoutItemMinH":{"$ref":"#\/components\/schemas\/SafeNumber"},"layoutItemMaxW":{"$ref":"#\/components\/schemas\/SafeNumber"},"layoutItemMinW":{"$ref":"#\/components\/schemas\/SafeNumber"},"layoutItemHSizing":{"title":"enum","type":"string","enum":["fill","fix","auto"]},"layoutItemVSizing":{"title":"enum","type":"string","enum":["fill","fix","auto"]},"layoutItemAlignSelf":{"title":"enum","type":"string","enum":["start","center","end","stretch"]},"layoutItemAbsolute":{"type":"boolean"},"layoutItemZIndex":{"$ref":"#\/components\/schemas\/SafeNumber"},"shapes":{"type":"array","items":{"$ref":"#\/components\/schemas\/Uuid"}},"pageId":{"$ref":"#\/components\/schemas\/Uuid"},"componentId":{"$ref":"#\/components\/schemas\/Uuid"},"componentFile":{"$ref":"#\/components\/schemas\/Uuid"},"componentRoot":{"type":"boolean"},"mainInstance":{"type":"boolean"},"remoteSynced":{"type":"boolean"},"shapeRef":{"$ref":"#\/components\/schemas\/Uuid"},"touched":{"type":"array","items":{"type":"string"},"uniqueItems":true,"nullable":true},"blocked":{"type":"boolean"},"collapsed":{"type":"boolean"},"locked":{"type":"boolean"},"hidden":{"type":"boolean"},"maskedGroup":{"type":"boolean"},"fills":{"anyOf":[{"type":"array","items":{"allOf":[{"title":"FillAttrs","type":"object","properties":{"fillColorRefFile":{"$ref":"#\/components\/schemas\/Uuid"},"fillColorRefId":{"$ref":"#\/components\/schemas\/Uuid"},"fillOpacity":{"title":"number","description":"number","type":"number"},"fillColor":{"title":"HexColor","description":"HEX Color String","type":"string","format":"rgb"},"fillColorGradient":{"title":"Gradient","type":"object","properties":{"type":{"title":"enum","type":"string","enum":["radial","linear"]},"startX":{"$ref":"#\/components\/schemas\/SafeNumber"},"startY":{"$ref":"#\/components\/schemas\/SafeNumber"},"endX":{"$ref":"#\/components\/schemas\/SafeNumber"},"endY":{"$ref":"#\/components\/schemas\/SafeNumber"},"width":{"$ref":"#\/components\/schemas\/SafeNumber"},"stops":{"type":"array","items":{"title":"GradientStop","type":"object","properties":{"color":{"title":"HexColor","description":"HEX Color String","type":"string","format":"rgb"},"opacity":{"title":"number","description":"number","type":"number"},"offset":{"title":"number","description":"number","type":"number"}},"required":["color","offset"]},"minItems":1}},"required":["type","startX","startY","endX","endY","width","stops"],"additionalProperties":false},"fillImage":{"title":"ImageColor","type":"object","properties":{"width":{"title":"integer","description":"integer","type":"integer","minimum":0},"height":{"title":"integer","description":"integer","type":"integer","minimum":0},"mtype":{"$ref":"#\/components\/schemas\/Text"},"id":{"$ref":"#\/components\/schemas\/Uuid"},"name":{"$ref":"#\/components\/schemas\/Text"},"keepAspectRatio":{"type":"boolean"}},"required":["width","height","mtype","id"],"additionalProperties":false}},"additionalProperties":false}]}},{}]},"proportion":{"$ref":"#\/components\/schemas\/SafeNumber"},"proportionLock":{"type":"boolean"},"constraintsH":{"title":"enum","type":"string","enum":["scale","center","right","leftright","left"]},"constraintsV":{"title":"enum","type":"string","enum":["bottom","scale","top","center","topbottom"]},"fixedScroll":{"type":"boolean"},"r1":{"$ref":"#\/components\/schemas\/SafeNumber"},"r2":{"$ref":"#\/components\/schemas\/SafeNumber"},"r3":{"$ref":"#\/components\/schemas\/SafeNumber"},"r4":{"$ref":"#\/components\/schemas\/SafeNumber"},"opacity":{"$ref":"#\/components\/schemas\/SafeNumber"},"grids":{"type":"array","items":{"title":"Grid","oneOf":[{"title":"ColumnGridAttrs","type":"object","properties":{"type":{"type":"string","enum":["column"]},"display":{"type":"boolean"},"params":{"title":"ColumnGridParams","type":"object","properties":{"color":{"title":"GridColor","type":"object","properties":{"color":{"title":"HexColor","description":"HEX Color String","type":"string","format":"rgb"},"opacity":{"$ref":"#\/components\/schemas\/SafeNumber"}},"required":["color","opacity"]},"type":{"title":"enum","type":"string","enum":["center","right","stretch","left"]},"size":{"$ref":"#\/components\/schemas\/SafeNumber","nullable":true},"margin":{"$ref":"#\/components\/schemas\/SafeNumber","nullable":true},"itemLength":{"$ref":"#\/components\/schemas\/SafeNumber","nullable":true},"gutter":{"$ref":"#\/components\/schemas\/SafeNumber","nullable":true}},"required":["color"]}},"required":["type","display","params"]},{"title":"RowGridAttrs","type":"object","properties":{"type":{"type":"string","enum":["row"]},"display":{"type":"boolean"},"params":{"title":"ColumnGridParams","type":"object","properties":{"color":{"title":"GridColor","type":"object","properties":{"color":{"title":"HexColor","description":"HEX Color String","type":"string","format":"rgb"},"opacity":{"$ref":"#\/components\/schemas\/SafeNumber"}},"required":["color","opacity"]},"type":{"title":"enum","type":"string","enum":["center","right","stretch","left"]},"size":{"$ref":"#\/components\/schemas\/SafeNumber","nullable":true},"margin":{"$ref":"#\/components\/schemas\/SafeNumber","nullable":true},"itemLength":{"$ref":"#\/components\/schemas\/SafeNumber","nullable":true},"gutter":{"$ref":"#\/components\/schemas\/SafeNumber","nullable":true}},"required":["color"]}},"required":["type","display","params"]},{"title":"SquareGridAttrs","type":"object","properties":{"type":{"type":"string","enum":["square"]},"display":{"type":"boolean"},"params":{"title":"SquareGridParams","type":"object","properties":{"size":{"$ref":"#\/components\/schemas\/SafeNumber","nullable":true},"color":{"title":"GridColor","type":"object","properties":{"color":{"title":"HexColor","description":"HEX Color String","type":"string","format":"rgb"},"opacity":{"$ref":"#\/components\/schemas\/SafeNumber"}},"required":["color","opacity"]}},"required":["color"]}},"required":["type","display","params"]}]}},"exports":{"type":"array","items":{"title":"ShapeExport","type":"object","properties":{"type":{"title":"enum","type":"string","enum":["png","pdf","webp","svg","jpeg"]},"scale":{"$ref":"#\/components\/schemas\/SafeNumber"},"suffix":{"type":"string"}},"required":["type","scale","suffix"]}},"strokes":{"type":"array","items":{"allOf":[{"title":"StrokeAttrs","type":"object","properties":{"strokeColorRefFile":{"$ref":"#\/components\/schemas\/Uuid"},"strokeColorRefId":{"$ref":"#\/components\/schemas\/Uuid"},"strokeOpacity":{"$ref":"#\/components\/schemas\/SafeNumber"},"strokeStyle":{"title":"enum","type":"string","enum":["solid","mixed","dashed","dotted"]},"strokeWidth":{"$ref":"#\/components\/schemas\/SafeNumber"},"strokeAlignment":{"title":"enum","type":"string","enum":["center","inner","outer"]},"strokeCapStart":{"title":"enum","type":"string","enum":[null,"line-arrow","diamond-marker","round","triangle-arrow","square","circle-marker","square-marker"]},"strokeCapEnd":{"title":"enum","type":"string","enum":[null,"line-arrow","diamond-marker","round","triangle-arrow","square","circle-marker","square-marker"]},"strokeColor":{"title":"HexColor","description":"HEX Color String","type":"string","format":"rgb"},"strokeColorGradient":{"title":"Gradient","type":"object","properties":{"type":{"title":"enum","type":"string","enum":["radial","linear"]},"startX":{"$ref":"#\/components\/schemas\/SafeNumber"},"startY":{"$ref":"#\/components\/schemas\/SafeNumber"},"endX":{"$ref":"#\/components\/schemas\/SafeNumber"},"endY":{"$ref":"#\/components\/schemas\/SafeNumber"},"width":{"$ref":"#\/components\/schemas\/SafeNumber"},"stops":{"type":"array","items":{"title":"GradientStop","type":"object","properties":{"color":{"title":"HexColor","description":"HEX Color String","type":"string","format":"rgb"},"opacity":{"title":"number","description":"number","type":"number"},"offset":{"title":"number","description":"number","type":"number"}},"required":["color","offset"]},"minItems":1}},"required":["type","startX","startY","endX","endY","width","stops"],"additionalProperties":false},"strokeImage":{"title":"ImageColor","type":"object","properties":{"width":{"title":"integer","description":"integer","type":"integer","minimum":0},"height":{"title":"integer","description":"integer","type":"integer","minimum":0},"mtype":{"$ref":"#\/components\/schemas\/Text"},"id":{"$ref":"#\/components\/schemas\/Uuid"},"name":{"$ref":"#\/components\/schemas\/Text"},"keepAspectRatio":{"type":"boolean"}},"required":["width","height","mtype","id"],"additionalProperties":false},"hidden":{"type":"boolean"}},"additionalProperties":false}]}},"blendMode":{"title":"enum","type":"string","enum":["hue","screen","color","darken","saturation","lighten","normal","overlay","difference","luminosity","exclusion","hard-light","multiply","soft-light","color-dodge","color-burn"]},"interactions":{"type":"array","items":{"title":"Interaction","allOf":[{"title":"GenericInteractionAttrs","type":"object","properties":{"actionType":{"title":"enum","type":"string","enum":["navigate","close-overlay","prev-screen","toggle-overlay","open-url","open-overlay"]},"eventType":{"title":"enum","type":"string","enum":["after-delay","mouse-leave","mouse-over","mouse-enter","click","mouse-press"]},"destination":{"$ref":"#\/components\/schemas\/Uuid","nullable":true},"preserveScroll":{"type":"boolean"},"animation":{"title":"Animation","oneOf":[{"title":"AnimationDisolve","type":"object","properties":{"animationType":{"type":"string","enum":["dissolve"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]}},"required":["animationType","duration","easing"]},{"title":"AnimationSlide","type":"object","properties":{"animationType":{"type":"string","enum":["slide"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"way":{"title":"enum","type":"string","enum":["out","in"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]},"offsetEffect":{"type":"boolean"}},"required":["animationType","duration","easing","way","direction","offsetEffect"]},{"title":"PushAnimation","type":"object","properties":{"animationType":{"type":"string","enum":["push"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]}},"required":["animationType","duration","easing","direction"]}]},"overlayPosition":{"$ref":"#\/components\/schemas\/GeomPoint"},"overlayPosType":{"title":"enum","type":"string","enum":["top-right","top-left","bottom-right","center","bottom-left","manual","top-center","bottom-center"]},"closeClickOutside":{"type":"boolean"},"backgroundOverlay":{"type":"boolean"},"positionRelativeTo":{"$ref":"#\/components\/schemas\/Uuid","nullable":true},"url":{"type":"string"}}},{"title":"InteractionAttrs","oneOf":[{"title":"NavigateInteraction","type":"object","properties":{"actionType":{"type":"string","enum":["navigate"]},"eventType":{"title":"enum","type":"string","enum":["after-delay","mouse-leave","mouse-over","mouse-enter","click","mouse-press"]},"destination":{"$ref":"#\/components\/schemas\/Uuid","nullable":true},"preserveScroll":{"type":"boolean"},"animation":{"title":"Animation","oneOf":[{"title":"AnimationDisolve","type":"object","properties":{"animationType":{"type":"string","enum":["dissolve"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]}},"required":["animationType","duration","easing"]},{"title":"AnimationSlide","type":"object","properties":{"animationType":{"type":"string","enum":["slide"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"way":{"title":"enum","type":"string","enum":["out","in"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]},"offsetEffect":{"type":"boolean"}},"required":["animationType","duration","easing","way","direction","offsetEffect"]},{"title":"PushAnimation","type":"object","properties":{"animationType":{"type":"string","enum":["push"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]}},"required":["animationType","duration","easing","direction"]}]}},"required":["actionType","eventType"]},{"title":"OpenOverlayInteraction","type":"object","properties":{"actionType":{"type":"string","enum":["open-overlay"]},"eventType":{"title":"enum","type":"string","enum":["after-delay","mouse-leave","mouse-over","mouse-enter","click","mouse-press"]},"overlayPosition":{"$ref":"#\/components\/schemas\/GeomPoint"},"overlayPosType":{"title":"enum","type":"string","enum":["top-right","top-left","bottom-right","center","bottom-left","manual","top-center","bottom-center"]},"destination":{"$ref":"#\/components\/schemas\/Uuid","nullable":true},"closeClickOutside":{"type":"boolean"},"backgroundOverlay":{"type":"boolean"},"animation":{"title":"Animation","oneOf":[{"title":"AnimationDisolve","type":"object","properties":{"animationType":{"type":"string","enum":["dissolve"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]}},"required":["animationType","duration","easing"]},{"title":"AnimationSlide","type":"object","properties":{"animationType":{"type":"string","enum":["slide"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"way":{"title":"enum","type":"string","enum":["out","in"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]},"offsetEffect":{"type":"boolean"}},"required":["animationType","duration","easing","way","direction","offsetEffect"]},{"title":"PushAnimation","type":"object","properties":{"animationType":{"type":"string","enum":["push"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]}},"required":["animationType","duration","easing","direction"]}]},"positionRelativeTo":{"$ref":"#\/components\/schemas\/Uuid","nullable":true}},"required":["actionType","eventType","overlayPosition","overlayPosType"]},{"title":"ToggleOverlayInteraction","type":"object","properties":{"actionType":{"type":"string","enum":["toggle-overlay"]},"eventType":{"title":"enum","type":"string","enum":["after-delay","mouse-leave","mouse-over","mouse-enter","click","mouse-press"]},"overlayPosition":{"$ref":"#\/components\/schemas\/GeomPoint"},"overlayPosType":{"title":"enum","type":"string","enum":["top-right","top-left","bottom-right","center","bottom-left","manual","top-center","bottom-center"]},"destination":{"$ref":"#\/components\/schemas\/Uuid","nullable":true},"closeClickOutside":{"type":"boolean"},"backgroundOverlay":{"type":"boolean"},"animation":{"title":"Animation","oneOf":[{"title":"AnimationDisolve","type":"object","properties":{"animationType":{"type":"string","enum":["dissolve"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]}},"required":["animationType","duration","easing"]},{"title":"AnimationSlide","type":"object","properties":{"animationType":{"type":"string","enum":["slide"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"way":{"title":"enum","type":"string","enum":["out","in"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]},"offsetEffect":{"type":"boolean"}},"required":["animationType","duration","easing","way","direction","offsetEffect"]},{"title":"PushAnimation","type":"object","properties":{"animationType":{"type":"string","enum":["push"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]}},"required":["animationType","duration","easing","direction"]}]},"positionRelativeTo":{"$ref":"#\/components\/schemas\/Uuid","nullable":true}},"required":["actionType","eventType","overlayPosition","overlayPosType"]},{"title":"CloseOverlayInteraction","type":"object","properties":{"actionType":{"type":"string","enum":["close-overlay"]},"eventType":{"title":"enum","type":"string","enum":["after-delay","mouse-leave","mouse-over","mouse-enter","click","mouse-press"]},"destination":{"$ref":"#\/components\/schemas\/Uuid","nullable":true},"animation":{"title":"Animation","oneOf":[{"title":"AnimationDisolve","type":"object","properties":{"animationType":{"type":"string","enum":["dissolve"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]}},"required":["animationType","duration","easing"]},{"title":"AnimationSlide","type":"object","properties":{"animationType":{"type":"string","enum":["slide"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"way":{"title":"enum","type":"string","enum":["out","in"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]},"offsetEffect":{"type":"boolean"}},"required":["animationType","duration","easing","way","direction","offsetEffect"]},{"title":"PushAnimation","type":"object","properties":{"animationType":{"type":"string","enum":["push"]},"duration":{"$ref":"#\/components\/schemas\/SafeInt"},"easing":{"title":"enum","type":"string","enum":["ease-in-out","ease-in","ease","linear","ease-out"]},"direction":{"title":"enum","type":"string","enum":["down","up","right","left"]}},"required":["animationType","duration","easing","direction"]}]},"positionRelativeTo":{"$ref":"#\/components\/schemas\/Uuid","nullable":true}},"required":["actionType","eventType"]},{"title":"PrevScreenInteraction","type":"object","properties":{"actionType":{"type":"string","enum":["prev-screen"]},"eventType":{"title":"enum","type":"string","enum":["after-delay","mouse-leave","mouse-over","mouse-enter","click","mouse-press"]}},"required":["actionType","eventType"]},{"title":"OpenUrlInteraction","type":"object","properties":{"actionType":{"type":"string","enum":["open-url"]},"eventType":{"title":"enum","type":"string","enum":["after-delay","mouse-leave","mouse-over","mouse-enter","click","mouse-press"]},"url":{"type":"string"}},"required":["actionType","eventType","url"]}]}]}},"shadow":{"type":"array","items":{"title":"Shadow","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid","nullable":true},"style":{"title":"enum","type":"string","enum":["drop-shadow","inner-shadow"]},"offsetX":{"$ref":"#\/components\/schemas\/SafeNumber"},"offsetY":{"$ref":"#\/components\/schemas\/SafeNumber"},"blur":{"$ref":"#\/components\/schemas\/SafeNumber"},"spread":{"$ref":"#\/components\/schemas\/SafeNumber"},"hidden":{"type":"boolean"},"color":{"title":"PlainColorAttrs","type":"object","properties":{"opacity":{"title":"number","description":"number","type":"number"},"refId":{"$ref":"#\/components\/schemas\/Uuid"},"refFile":{"$ref":"#\/components\/schemas\/Uuid"},"color":{"title":"HexColor","description":"HEX Color String","type":"string","format":"rgb"}},"required":["color"],"additionalProperties":false}},"required":["id","style","offsetX","offsetY","blur","spread","hidden","color"]}},"blur":{"title":"Blur","type":"object","properties":{"id":{"$ref":"#\/components\/schemas\/Uuid"},"type":{"type":"string","enum":["layer-blur","background-blur"]},"value":{"$ref":"#\/components\/schemas\/SafeNumber"},"hidden":{"type":"boolean"}},"required":["id","type","value","hidden"]},"growType":{"title":"enum","type":"string","enum":["auto-height","fixed","auto-width"]},"appliedTokens":{"title":"DimensionsTokenAttrs","type":"object","properties":{"r1":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"r2":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"r3":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"r4":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"shadow":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"width":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"height":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"layoutItemMinW":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"layoutItemMaxW":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"layoutItemMinH":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"layoutItemMaxH":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"rowGap":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"columnGap":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"p1":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"p2":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"p3":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"p4":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"m1":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"m2":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"m3":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"m4":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"rotation":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"lineHeight":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"fontSize":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"letterSpacing":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"fontFamily":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"textCase":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"textDecoration":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"},"strokeWidth":{"title":"TokenName","type":"string","pattern":"^[a-zA-Z0-9_-][a-zA-Z0-9$_-]*(\\.[a-zA-Z0-9$_-]+)*$"}}},"pluginData":{"title":"PluginsData","type":"object","additionalProperties":{"type":"object","additionalProperties":{"type":"string"}}},"x":{"$ref":"#\/components\/schemas\/SafeNumber"},"y":{"$ref":"#\/components\/schemas\/SafeNumber"},"width":{"$ref":"#\/components\/schemas\/SafeNumber"},"height":{"$ref":"#\/components\/schemas\/SafeNumber"},"id":{"$ref":"#\/components\/schemas\/Uuid"},"name":{"type":"string"},"type":{"title":"enum","type":"string","enum":["path","group","frame","circle","svg-raw","image","bool","rect","text"]},"selrect":{"$ref":"#\/components\/schemas\/GeomRect"},"points":{"type":"array","items":{"$ref":"#\/components\/schemas\/GeomPoint"}},"transform":{"$ref":"#\/components\/schemas\/GeomMatrix"},"transformInverse":{"$ref":"#\/components\/schemas\/GeomMatrix"},"parentId":{"$ref":"#\/components\/schemas\/Uuid"},"frameId":{"$ref":"#\/components\/schemas\/Uuid"}},"required":["shapes","x","y","width","height","id","name","type","selrect","points","transform","transformInverse","parentId","frameId"]},{"title":"ShapeMinimalRecord","type":"object","properties":{"layoutItemMarginType":{"title":"enum","type":"string","enum":["simple","multiple"]},"layoutItemMargin":{"type":"object","properties":{"m1":{"$ref":"#\/components\/schemas\/SafeNumber"},"m2":{"$ref":"#\/components\/schemas\/SafeNumber"},"m3":{"$ref":"#\/components\/schemas\/SafeNumber"},"m4":{"$ref":"#\/components\/schemas\/SafeNumber"}}},"layoutItemMaxH":{"$ref":"#\/components\/schemas\/SafeNumber"},"layoutItemMinH":{"$ref":"#\/components\/schemas\/SafeNumber"},"layoutItemMaxW":{"$ref":"#\/components\/schemas\/SafeNumber"},"layoutItemMinW":{"$ref":"#\/components\/schemas\/SafeNumber"},"layoutItemHSizing":{"title":"enum","type":"string","enum":["fill","fix","auto"]},"layoutItemVSizing":{"title":"enum","type":"string","enum":["fill","fix","auto"]},"layoutItemAlignSelf":{"title":"enum","type":"string","enum":["start","center","end","stretch"]},"layoutItemAbsolute":{"type":"boolean"},"layoutItemZIndex":{"$ref":"#\/components\/schemas\/SafeNumber"},"layout":{"title":"enum","type":"string","enum":["grid","flex"]},"layoutFlexDir":{"title":"enum","type":"string","enum":["column","row-reverse","column-reverse","row"]},"layoutGap":{"type":"object","properties":{"rowGap":{"$ref":"#\/components\/schemas\/SafeNumber"},"columnGap":{"$ref":"#\/components\/schemas\/SafeNumber"}}},"layoutGapType":{"title":"enum","t
[...]
